Repository fzi-forschungszentrum-informatik/ros2_ros_bt_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
        exclude: ((trees/)|(html/))
      - id: end-of-file-fixer
        exclude: ((trees/)|(html/)|(testdata/))
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ((trees/)|(html/)|(testdata/))
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: fix-byte-order-marker  # Forbid UTF-8 byte-order markers
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: local
    hooks:
    #- id: ament_copyright
    #  name: ament_copyright
    #  description: Check if copyright notice is available in all files.
    #  stages: [commit]
    #  entry: ament_copyright
    #  language: system
    - id: ament_xmllint
      name: ament_xmllint
      description: Static code analysis of xml files.
      stages: [commit]
      entry: ament_xmllint
      language: system
      files: \.(xml)$
    - id: ament_flake8
      name: ament_flake8
      description: Static code analysis of Python files with flake8.
      stages: [commit]
      entry: ament_flake8
      language: system
      files: \.(py)$
      args: ["--config=./.flake8"]
    - id: ament_pep257
      name: ament_pep257
      description: Static code analysis of Python files with pep257.
      stages: [commit]
      entry: ament_pep257
      language: system
      files: \.(py)$
    - id: ament_lint_cmake
      name: ament_lint_cmake
      description: Check format of CMakeLists.txt files.
      stages: [commit]
      entry: ament_lint_cmake
      language: system
      files: CMakeLists\.txt$

Ignore parameters module in test_import.py
  ros_bt_py/tests/test_import.py
Due: ament_flake8, ament_pep257

Result can now be processed when using ABC Actions
  ros_bt_py/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

Added enum switch mode
  ros_bt_py/ros_bt_py/nodes/fallback.py
Due: ament_flake8, ament_pep257

added tree_storage_path as launch argument
  ros_bt_py/launch/ros_bt_py.launch.py
Due: ament_flake8, ament_pep257

Overwrite output method
  ros_bt_py/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

Fix error with subtree initializations.
  ros_bt_py/launch/ros_bt_py.launch.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/nodes/constant.py
  ros_bt_py/ros_bt_py/ros_nodes/message_converters.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/ros_bt_py/tree_node.py
Due: ament_flake8, ament_pep257

Fix style issues.
  CHANGELOG.md
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/ros_bt_py/tree_node.py
Due: ament_flake8, ament_pep257

Add jazzy to ici config.
  .github/workflows/industrial_ci.yml
Due: none

Add exception for jazzy on workflow after install script.
  .github/workflows/industrial_ci.yml
Due: none

Remove ament_flake8 as it conflicts with black.
  ros_bt_py_web_gui/CMakeLists.txt
  ros_bt_py_web_gui/launch/ros_bt_py_web_gui.launch.py
  ros_bt_py_web_gui/scripts/show_editor_url.py
Due: ament_flake8, ament_pep257, ament_lint_cmake

Fix service call mock assert.
  ros_bt_py/tests/ros_nodes/test_service.py
Due: ament_flake8, ament_pep257

Added clarification on GetAttr usage
  ros_bt_py/ros_bt_py/nodes/getters.py
Due: ament_flake8, ament_pep257

Enabled default value on launch
  ros_bt_py/launch/ros_bt_py.launch.py
Due: ament_flake8, ament_pep257

Added new module list function
  ros_bt_py/launch/ros_bt_py.launch.py
Due: ament_flake8, ament_pep257

Beginn rework using result types.
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/node_data.py
Due: ament_xmllint, ament_flake8, ament_pep257

Remove unnecessary logging messages.
  ros_bt_py/ros_bt_py/debug_manager.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
Due: ament_flake8, ament_pep257

Added subtree_manager to overwritten inits
  ros_bt_py/ros_bt_py/nodes/maths.py
  ros_bt_py/ros_bt_py/ros_nodes/enum.py
Due: ament_flake8, ament_pep257

Remove unnecessary logging.
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/node_data.py
  ros_bt_py/ros_bt_py/nodes/decorators.py
  ros_bt_py/ros_bt_py/nodes/getters.py
  ros_bt_py/ros_bt_py/nodes/io.py
  ros_bt_py/ros_bt_py/nodes/list.py
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py/tests/test_helpers.py
Due: ament_flake8, ament_pep257

Directly show service request and response fields in Service nodes.
  ros_bt_py/ros_bt_py/ros_nodes/service.py
Due: ament_flake8, ament_pep257

Show action goal, result and feedback fields in Action nodes
  ros_bt_py/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

Adapted tests for Service nodes
  ros_bt_py/tests/ros_nodes/test_service.py
  ros_bt_py/tests/ros_nodes/test_service_input.py
Due: ament_flake8, ament_pep257

Fix self.name is None error.
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Added custom launch documentation
  ros_bt_py/doc/source/index.rst
  ros_bt_py/doc/source/using_custom_node_classes.rst
Due: none

Updated CHANGELOG
  CHANGELOG.md
Due: none

Fix missing check for feedback in action node.
  ros_bt_py/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

Remove top-level exception catching.
  ros_bt_py/ros_bt_py/tree_node.py
Due: ament_flake8, ament_pep257

Add set_state function to ensure valid state tran.
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Fix seconds_running calculation error in action
  ros_bt_py/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257
