Repository fzi-forschungszentrum-informatik/ros2_ros_bt_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

ament_xmllint:
  name: ament_xmllint
  description: Static code analysis of xml files.
  stages:
  - commit
  entry: ament_xmllint
  language: system

ament_flake8:
  name: ament_flake8
  description: Static code analysis of Python files with flake8.
  stages:
  - commit
  entry: ament_flake8
  language: system
  args:
  - --config=./.flake8

ament_pep257:
  name: ament_pep257
  description: Static code analysis of Python files with pep257.
  stages:
  - commit
  entry: ament_pep257
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Add Ros Service types
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
Due: ament_flake8, ament_pep257

Publish names and types of existing topics and services. Actions still missing
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/ros_helpers.py
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/MessageChannel.msg
  ros_bt_py_interfaces/msg/MessageChannels.msg
Due: ament_flake8, ament_pep257, ament_lint_cmake

Implement Ros Action types and baseclasses
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
Due: ament_flake8, ament_pep257

Implement Ros Topic types
  ros_bt_py/ros_bt_py/ros_nodes/message_converters.py
  ros_bt_py/ros_bt_py/ros_nodes/messages_from_dict.py
  ros_bt_py/ros_bt_py/ros_nodes/topic.py
Due: ament_flake8, ament_pep257

Keep maths types in helpers.py for compatibility
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/nodes/maths.py
Due: ament_flake8, ament_pep257

Restructure MessageType publlishing
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/MessageTypes.msg
  ros_bt_py_interfaces/msg/Messages.msg
Due: ament_flake8, ament_pep257, ament_lint_cmake

Update decorator node.
  ros_bt_py/ros_bt_py/nodes/decorators.py
Due: ament_flake8, ament_pep257

Update fallback node.
  ros_bt_py/ros_bt_py/nodes/fallback.py
Due: ament_flake8, ament_pep257

Update format nodes.
  ros_bt_py/ros_bt_py/nodes/format.py
Due: ament_flake8, ament_pep257

Update getter nodes.
  ros_bt_py/ros_bt_py/nodes/getters.py
Due: ament_flake8, ament_pep257

Update io nodes.
  ros_bt_py/ros_bt_py/nodes/io.py
Due: ament_flake8, ament_pep257

Update list nodes.
  ros_bt_py/ros_bt_py/nodes/list.py
Due: ament_flake8, ament_pep257

Update maths nodes.
  ros_bt_py/ros_bt_py/nodes/maths.py
Due: ament_flake8, ament_pep257

Update parallel nodes.
  ros_bt_py/ros_bt_py/nodes/parallel.py
Due: ament_flake8, ament_pep257

Update passthrough node.
  ros_bt_py/ros_bt_py/nodes/passthrough_node.py
Due: ament_flake8, ament_pep257

Update random_number nodes.
  ros_bt_py/ros_bt_py/nodes/random_number.py
Due: ament_flake8, ament_pep257

Remove checks that are now redundant
  ros_bt_py/ros_bt_py/nodes/getters.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/message_converters.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
Due: ament_flake8, ament_pep257

Add action name discovery
  ros_bt_py/ros_bt_py/ros_helpers.py
Due: ament_flake8, ament_pep257

Update Web-GUI to release/3.2.0
  ros_bt_py_web_gui/html/assets/fontawesome-06e759de.js
  ros_bt_py_web_gui/html/assets/fontawesome-d0406ea5.js
  ros_bt_py_web_gui/html/assets/index-2324e7fc.css
  ros_bt_py_web_gui/html/assets/index-61a763f8.js
  ros_bt_py_web_gui/html/assets/index-9b7d1367.js
  ros_bt_py_web_gui/html/assets/index-da8b8ece.css
  ros_bt_py_web_gui/html/assets/jsoneditor-dcd821d1.js
  ros_bt_py_web_gui/html/assets/roslib-2533a6fc.js
  ros_bt_py_web_gui/html/assets/roslib-ce1bf65b.js
  ros_bt_py_web_gui/html/assets/vue-extras-a69212ed.js
  ros_bt_py_web_gui/html/assets/vue-extras-bae42cbd.js
  ros_bt_py_web_gui/html/index.html
Due: none

Add default values to Ros Message types
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/action/Empty.action
Due: ament_flake8, ament_pep257, ament_lint_cmake

Remove empty action.
  ros_bt_py/package.xml
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/action/Empty.action
Due: ament_xmllint, ament_lint_cmake

Update Web-GUI to release/3.2.1
  ros_bt_py_web_gui/html/assets/fontawesome-06e759de.js
  ros_bt_py_web_gui/html/assets/fontawesome-d0406ea5.js
  ros_bt_py_web_gui/html/assets/index-2324e7fc.css
  ros_bt_py_web_gui/html/assets/index-61a763f8.js
  ros_bt_py_web_gui/html/assets/index-9b7d1367.js
  ros_bt_py_web_gui/html/assets/index-da8b8ece.css
  ros_bt_py_web_gui/html/assets/jsoneditor-dcd821d1.js
  ros_bt_py_web_gui/html/assets/roslib-2533a6fc.js
  ros_bt_py_web_gui/html/assets/roslib-ce1bf65b.js
  ros_bt_py_web_gui/html/assets/vue-extras-a69212ed.js
  ros_bt_py_web_gui/html/assets/vue-extras-bae42cbd.js
  ros_bt_py_web_gui/html/index.html
Due: none

Fix test_fields_to_message
  ros_bt_py/ros_bt_py/ros_nodes/message_converters.py
  ros_bt_py/tests/ros_nodes/test_fields_to_message.py
Due: ament_flake8, ament_pep257

Fix test_message_from_dict
  ros_bt_py/tests/ros_nodes/test_message_from_dict.py
Due: ament_flake8, ament_pep257

Fix test_message_from_dict_const
  ros_bt_py/tests/ros_nodes/test_message_from_dict_const.py
Due: ament_flake8, ament_pep257

Fix test_message_to_fields
  ros_bt_py/tests/ros_nodes/test_message_to_fields.py
Due: ament_flake8, ament_pep257

Fix test_service
  ros_bt_py/tests/ros_nodes/test_service.py
Due: ament_flake8, ament_pep257

Fix test_service_input
  ros_bt_py/tests/ros_nodes/test_service_input.py
Due: ament_flake8, ament_pep257

Fix test_wait_for_service
  ros_bt_py/tests/ros_nodes/test_wait_for_service.py
Due: ament_flake8, ament_pep257

Fix test_wait_for_service_input
  ros_bt_py/tests/ros_nodes/test_wait_for_service_input.py
Due: ament_flake8, ament_pep257

Update Web-GUI to release/3.2.1
  ros_bt_py_web_gui/html/assets/fontawesome-06e759de.js
  ros_bt_py_web_gui/html/assets/fontawesome-d0406ea5.js
  ros_bt_py_web_gui/html/assets/index-2324e7fc.css
  ros_bt_py_web_gui/html/assets/index-451b8ae6.js
  ros_bt_py_web_gui/html/assets/index-61a763f8.js
  ros_bt_py_web_gui/html/assets/index-da8b8ece.css
  ros_bt_py_web_gui/html/assets/jsoneditor-dcd821d1.js
  ros_bt_py_web_gui/html/assets/roslib-2533a6fc.js
  ros_bt_py_web_gui/html/assets/roslib-ce1bf65b.js
  ros_bt_py_web_gui/html/assets/vue-extras-a69212ed.js
  ros_bt_py_web_gui/html/assets/vue-extras-bae42cbd.js
  ros_bt_py_web_gui/html/index.html
Due: none

Update Web-GUI to release/3.2.2
  ros_bt_py_web_gui/html/assets/fontawesome-06e759de.js
  ros_bt_py_web_gui/html/assets/fontawesome-d0406ea5.js
  ros_bt_py_web_gui/html/assets/index-2324e7fc.css
  ros_bt_py_web_gui/html/assets/index-451b8ae6.js
  ros_bt_py_web_gui/html/assets/index-61a763f8.js
  ros_bt_py_web_gui/html/assets/index-da8b8ece.css
  ros_bt_py_web_gui/html/assets/jsoneditor-dcd821d1.js
  ros_bt_py_web_gui/html/assets/roslib-2533a6fc.js
  ros_bt_py_web_gui/html/assets/roslib-ce1bf65b.js
  ros_bt_py_web_gui/html/assets/vue-extras-a69212ed.js
  ros_bt_py_web_gui/html/assets/vue-extras-bae42cbd.js
  ros_bt_py_web_gui/html/index.html
Due: none

Updated Changelog
  CHANGELOG.md
Due: none

Update Web-GUI to release/3.2.3
  ros_bt_py_web_gui/html/assets/fontawesome-06e759de.js
  ros_bt_py_web_gui/html/assets/fontawesome-736d2bab.js
  ros_bt_py_web_gui/html/assets/index-2324e7fc.css
  ros_bt_py_web_gui/html/assets/index-37ab177d.js
  ros_bt_py_web_gui/html/assets/index-61a763f8.js
  ros_bt_py_web_gui/html/assets/index-ba168187.css
  ros_bt_py_web_gui/html/assets/jsoneditor-dcd821d1.js
  ros_bt_py_web_gui/html/assets/roslib-2533a6fc.js
  ros_bt_py_web_gui/html/assets/roslib-ce1bf65b.js
  ros_bt_py_web_gui/html/assets/vue-extras-3d8a85ec.js
  ros_bt_py_web_gui/html/assets/vue-extras-a69212ed.js
  ros_bt_py_web_gui/html/index.html
Due: none

Update CI workflow.
  .github/workflows/industrial_ci.yml
Due: none

Implement FilePath type
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
Due: ament_flake8, ament_pep257

Move math types to new location
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/nodes/maths.py
Due: ament_flake8, ament_pep257

Path conditions:
  ament_xmllint: any of: \.(xml)$
  ament_flake8: any of: \.(py)$
  ament_pep257: any of: \.(py)$
  ament_lint_cmake: any of: CMakeLists\.txt$
