Repository fzi-forschungszentrum-informatik/ros2_ros_bt_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

ament_xmllint:
  name: ament_xmllint
  description: Static code analysis of xml files.
  stages:
  - commit
  entry: ament_xmllint
  language: system

ament_flake8:
  name: ament_flake8
  description: Static code analysis of Python files with flake8.
  stages:
  - commit
  entry: ament_flake8
  language: system
  args:
  - --config=./.flake8

ament_pep257:
  name: ament_pep257
  description: Static code analysis of Python files with pep257.
  stages:
  - commit
  entry: ament_pep257
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Port RosParamOption
  ros_bt_py/src/ros_bt_py/ros_nodes/param.py
Due: ament_flake8, ament_pep257

Port RosParamInput and RosParamOptionDefaultInput
  ros_bt_py/src/ros_bt_py/ros_nodes/param.py
Due: ament_flake8, ament_pep257

Add tests for param nodes
  ros_bt_py/src/ros_bt_py/ros_nodes/param.py
  ros_bt_py/tests/ros_nodes/test_ros_param_input.py
  ros_bt_py/tests/ros_nodes/test_ros_param_option.py
  ros_bt_py/tests/ros_nodes/test_ros_param_option_default_input.py
Due: ament_flake8, ament_pep257

Port message_converters.py
  ros_bt_py/src/ros_bt_py/ros_nodes/message_converters.py
  ros_bt_py/tests/ros_nodes/test_fields_to_message.py
  ros_bt_py/tests/ros_nodes/test_message_to_fields.py
Due: ament_flake8, ament_pep257

Port message_from_dict nodes
  ros_bt_py/src/ros_bt_py/ros_nodes/messages_from_dict.py
  ros_bt_py/tests/ros_nodes/test_message_from_dict.py
  ros_bt_py/tests/ros_nodes/test_message_from_dict_const.py
Due: ament_flake8, ament_pep257

Update pytest config.
  ros_bt_py/pyproject.toml
Due: none

Port enum.py and add tests
  ros_bt_py/src/ros_bt_py/ros_nodes/enum.py
  ros_bt_py/tests/ros_nodes/test_enum.py
  ros_bt_py/tests/ros_nodes/test_enum_fields.py
Due: ament_flake8, ament_pep257

Port topic.py
  ros_bt_py/src/ros_bt_py/ros_nodes/topic.py
Due: ament_flake8, ament_pep257

Remote test case that failes due to changes in rolling
  ros_bt_py/tests/ros_nodes/test_enum_fields.py
Due: ament_flake8, ament_pep257

Port action.py node
  ros_bt_py/src/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

Port subtree.py
  ros_bt_py/src/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Port throttle.py nodes.
  ros_bt_py/src/ros_bt_py/ros_nodes/throttle.py
Due: ament_flake8, ament_pep257

Port file.py nodes
  ros_bt_py/src/ros_bt_py/ros_nodes/file.py
Due: ament_flake8, ament_pep257

Add url printer for web gui
  ros_bt_py_web_gui/CMakeLists.txt
  ros_bt_py_web_gui/launch/ros_bt_py_web_gui.launch.py
  ros_bt_py_web_gui/package.xml
  ros_bt_py_web_gui/scripts/show_editor_url.py
Due: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

Remove unused imports
  ros_bt_py_web_gui/scripts/show_editor_url.py
Due: ament_flake8, ament_pep257

Add sphinx based documentation.
  .gitlab-ci.yml
  README.md
  ros_bt_py/doc/source/_static/ros_bt_py.ico
  ros_bt_py/doc/source/_static/ros_bt_py.png
  ros_bt_py/doc/source/_static/ros_bt_py_128.png
  ros_bt_py/doc/source/api.rst
  ros_bt_py/doc/source/conf.py
  ros_bt_py/doc/source/creating_node_classes.rst
  ros_bt_py/doc/source/getting_started.rst
  ros_bt_py/doc/source/index.rst
  ros_bt_py/doc/source/testing_node_classes.rst
  ros_bt_py/doc/source/utility_functions.rst
  ros_bt_py/package.xml
  ros_bt_py/src/ros_bt_py/tree_manager.py
Due: ament_xmllint, ament_flake8, ament_pep257

Fix author in latex report
  ros_bt_py/doc/source/conf.py
  ros_bt_py/doc/source/getting_started.rst
Due: ament_flake8, ament_pep257

Add getting started section
  ros_bt_py/doc/source/getting_started.rst
Due: none

Add README.md
  README.md
Due: none

adapted to new folder structure for src files
  ros_bt_py/src/ros_bt_py/nodes/__init__.py
  ros_bt_py/src/ros_bt_py/nodes/compare.py
  ros_bt_py/src/ros_bt_py/nodes/constant.py
  ros_bt_py/src/ros_bt_py/nodes/decorators.py
  ros_bt_py/src/ros_bt_py/nodes/fallback.py
  ros_bt_py/src/ros_bt_py/nodes/format.py
  ros_bt_py/src/ros_bt_py/nodes/getters.py
  ros_bt_py/src/ros_bt_py/nodes/io.py
  ros_bt_py/src/ros_bt_py/nodes/list.py
  ros_bt_py/src/ros_bt_py/nodes/maths.py
  ros_bt_py/src/ros_bt_py/nodes/parallel.py
  ros_bt_py/src/ros_bt_py/nodes/passthrough_node.py
  ros_bt_py/src/ros_bt_py/nodes/random_number.py
  ros_bt_py/src/ros_bt_py/nodes/sequence.py
  ros_bt_py/src/ros_bt_py/nodes/setters.py
  ros_bt_py/src/ros_bt_py/nodes/wait.py
Due: ament_flake8, ament_pep257

Porting of ROS independent nodes
  ros_bt_py/ros_bt_py/nodes/__init__.py
  ros_bt_py/ros_bt_py/nodes/compare.py
  ros_bt_py/ros_bt_py/nodes/constant.py
  ros_bt_py/ros_bt_py/nodes/decorators.py
  ros_bt_py/ros_bt_py/nodes/fallback.py
  ros_bt_py/ros_bt_py/nodes/format.py
  ros_bt_py/ros_bt_py/nodes/getters.py
  ros_bt_py/ros_bt_py/nodes/io.py
  ros_bt_py/ros_bt_py/nodes/list.py
  ros_bt_py/ros_bt_py/nodes/maths.py
  ros_bt_py/ros_bt_py/nodes/parallel.py
  ros_bt_py/ros_bt_py/nodes/passthrough_node.py
  ros_bt_py/ros_bt_py/nodes/random_number.py
  ros_bt_py/ros_bt_py/nodes/sequence.py
  ros_bt_py/ros_bt_py/nodes/setters.py
  ros_bt_py/ros_bt_py/nodes/wait.py
Due: ament_flake8, ament_pep257

Import node modules in __init__.py
  ros_bt_py/src/ros_bt_py/nodes/__init__.py
Due: ament_flake8, ament_pep257

Fix node imports and tree_manager service calls.
  ros_bt_py/setup.py
  ros_bt_py/src/ros_bt_py/node.py
  ros_bt_py/src/ros_bt_py/ros_nodes/__init__.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Add non-ros nodes to coverage config.
  ros_bt_py/pyproject.toml
  ros_bt_py/src/ros_bt_py/nodes/parallel.py
Due: ament_flake8, ament_pep257

Fix error with invalid ros_node reference
  ros_bt_py/src/ros_bt_py/node.py
  ros_bt_py/src/ros_bt_py/ros_nodes/service.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Remove old warning from README
  README.md
Due: none

Add note about generate_param_lib and symlink_install
  README.md
Due: none

Fix service call and message autocompletion
  ros_bt_py/package.xml
  ros_bt_py/src/ros_bt_py/package_manager.py
  ros_bt_py/src/ros_bt_py/ros_nodes/__init__.py
  ros_bt_py/src/ros_bt_py/ros_nodes/action.py
  ros_bt_py/src/ros_bt_py/ros_nodes/service.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/src/ros_bt_py/tree_node.py
  ros_bt_py_interfaces/srv/GetMessageFields.srv
Due: ament_xmllint, ament_flake8, ament_pep257

Fix topic destruction_error
  ros_bt_py/src/ros_bt_py/ros_nodes/topic.py
Due: ament_flake8, ament_pep257

Fix service destruction error.
  ros_bt_py/src/ros_bt_py/ros_nodes/action.py
  ros_bt_py/src/ros_bt_py/ros_nodes/service.py
  ros_bt_py/tests/ros_nodes/test_service.py
  ros_bt_py/tests/ros_nodes/test_service_input.py
  ros_bt_py/tests/ros_nodes/test_wait_for_service.py
  ros_bt_py/tests/ros_nodes/test_wait_for_service_input.py
Due: ament_flake8, ament_pep257

Fix message converters drag and drop.
  ros_bt_py/src/ros_bt_py/ros_nodes/message_converters.py
Due: ament_flake8, ament_pep257

Add msg type to GetMessageFields message.
  ros_bt_py/src/ros_bt_py/package_manager.py
  ros_bt_py/src/ros_bt_py/tree_node.py
  ros_bt_py_interfaces/srv/GetMessageFields.srv
Due: ament_flake8, ament_pep257

Use double backticks for referencing code snipptets in RST
  ros_bt_py/doc/source/creating_node_classes.rst
  ros_bt_py/doc/source/getting_started.rst
  ros_bt_py/doc/source/testing_node_classes.rst
  ros_bt_py/doc/source/utility_functions.rst
Due: none

Fixed code snippets
  ros_bt_py/doc/source/getting_started.rst
  ros_bt_py/doc/source/utility_functions.rst
Due: none

Implement save_to_path fuction
  ros_bt_py/config/tree_node_parameters.yaml
  ros_bt_py/src/ros_bt_py/package_manager.py
  ros_bt_py/src/ros_bt_py/tree_node.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/srv/GetFolderStructure.srv
  ros_bt_py_interfaces/srv/GetStorageFolders.srv
  ros_bt_py_interfaces/srv/SaveTree.srv
Due: ament_flake8, ament_pep257, ament_lint_cmake

Fix subtree constructor
  ros_bt_py/src/ros_bt_py/ros_nodes/subtree.py
Due: ament_flake8, ament_pep257

Fix missing parameter in PackageManager tests
  ros_bt_py/src/ros_bt_py/debug_manager.py
  ros_bt_py/src/ros_bt_py/nodes/maths.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/tests/test_package_manager.py
Due: ament_flake8, ament_pep257

Add rules to make rolling optional.
  .gitlab-ci.yml
Due: none

Fix inconsistent style.
  .gitlab-ci.yml
Due: none

Path conditions:
  ament_xmllint: any of: \.(xml)$
  ament_flake8: any of: \.(py)$
  ament_pep257: any of: \.(py)$
  ament_lint_cmake: any of: CMakeLists\.txt$
