Repository fzi-forschungszentrum-informatik/ros2_ros_bt_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

ament_xmllint:
  name: ament_xmllint
  description: Static code analysis of xml files.
  stages:
  - commit
  entry: ament_xmllint
  language: system

ament_flake8:
  name: ament_flake8
  description: Static code analysis of Python files with flake8.
  stages:
  - commit
  entry: ament_flake8
  language: system
  args:
  - --config=./.flake8

ament_pep257:
  name: ament_pep257
  description: Static code analysis of Python files with pep257.
  stages:
  - commit
  entry: ament_pep257
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

More node uuid handling
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/nodes/maths.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/enum.py
  ros_bt_py/ros_bt_py/ros_nodes/message_converters.py
  ros_bt_py/ros_bt_py/ros_nodes/messages_from_dict.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/ros_nodes/topic.py
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Start bugfixing
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Update load save and migrate process.
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/migrate_tree_files.py
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_xmllint, ament_flake8, ament_pep257

Finish tree file migration utility
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/migrate_tree_files.py
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/setup.py
Due: ament_xmllint, ament_flake8, ament_pep257

Fix node option migrations
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/migrate_tree_files.py
Due: ament_flake8, ament_pep257

Switch to string based ros uuids
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/migrate_tree_files.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/ros_helpers.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/NodeDataLocation.msg
  ros_bt_py_interfaces/msg/NodeState.msg
  ros_bt_py_interfaces/msg/NodeStructure.msg
  ros_bt_py_interfaces/msg/TreeData.msg
  ros_bt_py_interfaces/msg/TreeState.msg
  ros_bt_py_interfaces/msg/TreeStructure.msg
  ros_bt_py_interfaces/package.xml
  ros_bt_py_interfaces/srv/AddNode.srv
  ros_bt_py_interfaces/srv/AddNodeAtIndex.srv
  ros_bt_py_interfaces/srv/GenerateSubtree.srv
  ros_bt_py_interfaces/srv/GetSubtree.srv
  ros_bt_py_interfaces/srv/MorphNode.srv
  ros_bt_py_interfaces/srv/MoveNode.srv
  ros_bt_py_interfaces/srv/RemoveNode.srv
  ros_bt_py_interfaces/srv/ReplaceNode.srv
  ros_bt_py_interfaces/srv/SetOptions.srv
Due: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

Only wait for service if fail_if_not_available is set
  ros_bt_py/ros_bt_py/ros_nodes/service.py
Due: ament_flake8, ament_pep257

Update subtree tests and bugfixes
  ros_bt_py/ros_bt_py/debug_manager.py
  ros_bt_py/ros_bt_py/migrate_tree_files.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/tests/test_subtree_manager.py
Due: ament_flake8, ament_pep257

Remove custom type conversions from NodeData
  ros_bt_py/ros_bt_py/migrate_tree_files.py
  ros_bt_py/ros_bt_py/node_data.py
  ros_bt_py/tests/ros_nodes/test_action.py
Due: ament_flake8, ament_pep257

Update behavior for omitting options
  ros_bt_py/ros_bt_py/ros_nodes/service.py
Due: ament_flake8, ament_pep257

Update pre-commit config.
  .pre-commit-config.yaml
Due: none

Bump ros_bt_py_web_ui version.
  ros_bt_py_web_gui/package.xml
Due: ament_xmllint

Update changelog.
  CHANGELOG.md
  ros_bt_py/package.xml
  ros_bt_py_interfaces/package.xml
Due: ament_xmllint

Add uuid to message definitions
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/ros_helpers.py
  ros_bt_py_interfaces/msg/DocumentedNode.msg
  ros_bt_py_interfaces/msg/NodeDataLocation.msg
  ros_bt_py_interfaces/msg/NodeState.msg
  ros_bt_py_interfaces/msg/NodeStructure.msg
  ros_bt_py_interfaces/msg/TreeData.msg
  ros_bt_py_interfaces/msg/TreeState.msg
  ros_bt_py_interfaces/msg/TreeStructure.msg
  ros_bt_py_interfaces/srv/AddNode.srv
  ros_bt_py_interfaces/srv/AddNodeAtIndex.srv
  ros_bt_py_interfaces/srv/GenerateSubtree.srv
  ros_bt_py_interfaces/srv/GetSubtree.srv
  ros_bt_py_interfaces/srv/MorphNode.srv
  ros_bt_py_interfaces/srv/MoveNode.srv
  ros_bt_py_interfaces/srv/RemoveNode.srv
  ros_bt_py_interfaces/srv/ReplaceNode.srv
  ros_bt_py_interfaces/srv/SetOptions.srv
Due: ament_xmllint, ament_flake8, ament_pep257

Start uuid handling
  ros_bt_py/ros_bt_py/debug_manager.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/TreeStructure.msg
Due: ament_flake8, ament_pep257, ament_lint_cmake

Update tree manager to use uuids
  ros_bt_py/ros_bt_py/nodes/fallback.py
  ros_bt_py/ros_bt_py/ros_helpers.py
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Update subtree handling
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/subtree_manager.py
Due: ament_flake8, ament_pep257

Update load save and migrate process.
  ros_bt_py/ros_bt_py/migrate_tree_files.py
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Add tests for sequence nodes
  ros_bt_py/ros_bt_py/nodes/sequence.py
  ros_bt_py/tests/nodes/test_sequence.py
Due: ament_flake8, ament_pep257

Bugfix and add tests for fallback nodes
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/nodes/fallback.py
  ros_bt_py/tests/nodes/test_fallback.py
Due: ament_flake8, ament_pep257

Add tests for node switch
  ros_bt_py/ros_bt_py/nodes/fallback.py
  ros_bt_py/tests/nodes/test_fallback.py
  ros_bt_py/tests/nodes/test_sequence.py
Due: ament_flake8, ament_pep257

Add tests for parallel nodes
  ros_bt_py/ros_bt_py/nodes/parallel.py
  ros_bt_py/tests/nodes/test_parallel.py
Due: ament_flake8, ament_pep257

Rewrite tests with global call order
  ros_bt_py/tests/nodes/test_fallback.py
  ros_bt_py/tests/nodes/test_parallel.py
  ros_bt_py/tests/nodes/test_sequence.py
Due: ament_flake8, ament_pep257

Copy dictionary when setting msg fields
  ros_bt_py/ros_bt_py/ros_nodes/messages_from_dict.py
Due: ament_flake8, ament_pep257

Remove log message that is triggered frequently
  ros_bt_py/ros_bt_py/node.py
Due: ament_flake8, ament_pep257

Fix service client creation
  ros_bt_py/ros_bt_py/ros_nodes/service.py
Due: ament_flake8, ament_pep257

Improve service client shutdown robustness
  ros_bt_py/ros_bt_py/ros_nodes/service.py
Due: ament_flake8, ament_pep257

Fix typo in self.
  ros_bt_py/ros_bt_py/ros_nodes/service.py
Due: ament_flake8, ament_pep257

Update ros_bt_py/ros_bt_py/ros_nodes/service.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
Due: ament_flake8, ament_pep257

Release v0.5.1
  CHANGELOG.md
Due: none

Path conditions:
  ament_xmllint: any of: \.(xml)$
  ament_flake8: any of: \.(py)$
  ament_pep257: any of: \.(py)$
  ament_lint_cmake: any of: CMakeLists\.txt$
