Repository fzi-forschungszentrum-informatik/ros2_ros_bt_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

ament_xmllint:
  name: ament_xmllint
  description: Static code analysis of xml files.
  stages:
  - commit
  entry: ament_xmllint
  language: system

ament_flake8:
  name: ament_flake8
  description: Static code analysis of Python files with flake8.
  stages:
  - commit
  entry: ament_flake8
  language: system
  args:
  - --config=./.flake8

ament_pep257:
  name: ament_pep257
  description: Static code analysis of Python files with pep257.
  stages:
  - commit
  entry: ament_pep257
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Fixed assert
  ros_bt_py/tests/test_node_config.py
Due: ament_flake8, ament_pep257

Added to examples
  ros_bt_py/tests/test_node_config.py
Due: ament_flake8, ament_pep257

Okay this seems to work, idk why
  ros_bt_py/tests/test_node_config.py
Due: ament_flake8, ament_pep257

Fixed typo
  ros_bt_py/tests/test_node_config.py
Due: ament_flake8, ament_pep257

Fixed optional options to be a list
  ros_bt_py/tests/test_node_config.py
Due: ament_flake8, ament_pep257

Added extension tests
  ros_bt_py/tests/test_node_config.py
Due: ament_flake8, ament_pep257

Added Init tests for NodeConfig
  ros_bt_py/tests/test_node_config.py
Due: ament_flake8, ament_pep257

Changed order inside asserts
  ros_bt_py/tests/test_node_config.py
Due: ament_flake8, ament_pep257

Added tests for OptionRef class
  ros_bt_py/tests/test_node_config.py
Due: ament_flake8, ament_pep257

Added internal tests
  ros_bt_py/tests/test_node_config.py
Due: ament_flake8, ament_pep257

Update Web-GUI to release/2.0.3
  ros_bt_py_web_gui/html/assets/index-08fce88f.js
  ros_bt_py_web_gui/html/index.html
Due: none

Update Web-GUI to release/2.0.4
  ros_bt_py_web_gui/html/assets/index-38ccda16.js
  ros_bt_py_web_gui/html/assets/index-761128e4.js
  ros_bt_py_web_gui/html/index.html
Due: none

Added subtree manager to all nodes
  ros_bt_py/src/ros_bt_py/node.py
  ros_bt_py/src/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/src/ros_bt_py/subtree_manager.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/src/ros_bt_py/tree_node.py
Due: ament_flake8, ament_pep257

Removed debugging functionalities from DebugManager and DebugInfo
  ros_bt_py/src/ros_bt_py/debug_manager.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/src/ros_bt_py/tree_node.py
  ros_bt_py/tests/ros_nodes/test_enum_fields.py
  ros_bt_py/tests/test_package_manager.py
  ros_bt_py/tests/test_ros_helpers.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/DebugInfo.msg
  ros_bt_py_interfaces/msg/DebugSettings.msg
  ros_bt_py_interfaces/msg/DocumentedNode.msg
  ros_bt_py_interfaces/msg/Node.msg
  ros_bt_py_interfaces/msg/Tree.msg
  ros_bt_py_interfaces/srv/Continue.srv
  ros_bt_py_interfaces/srv/SetExecutionMode.srv
Due: ament_flake8, ament_pep257, ament_lint_cmake

Replaced NodeDiagnostics message with DiagnosticStatus message
  ros_bt_py/src/ros_bt_py/debug_manager.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/src/ros_bt_py/tree_node.py
  ros_bt_py_interfaces/msg/NodeDiagnostics.msg
Due: ament_flake8, ament_pep257

Deleted duplicated conditional statement
  ros_bt_py/src/ros_bt_py/debug_manager.py
Due: ament_flake8, ament_pep257

Added new SubtreeInfo Topic
  ros_bt_py/src/ros_bt_py/subtree_manager.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/tests/test_subtree_manager.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/SubtreeInfo.msg
Due: ament_flake8, ament_pep257, ament_lint_cmake

Removed modify_breakpoints
  ros_bt_py/src/ros_bt_py/debug_manager.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/src/ros_bt_py/tree_node.py
Due: ament_flake8, ament_pep257

Added comments
  ros_bt_py/src/ros_bt_py/debug_manager.py
  ros_bt_py/src/ros_bt_py/subtree_manager.py
Due: ament_flake8, ament_pep257

Added missing copyright text for test classes
  ros_bt_py/tests/test_helpers.py
  ros_bt_py/tests/test_ros_helpers.py
Due: ament_flake8, ament_pep257

Moved subtree manager from debug manager to another class
  ros_bt_py/src/ros_bt_py/debug_manager.py
  ros_bt_py/src/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/src/ros_bt_py/subtree_manager.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/tests/test_debug_manager.py
  ros_bt_py/tests/test_subtree_manager.py
Due: ament_flake8, ament_pep257

Removed logger information which was temporarily added for debugging purposes
  ros_bt_py/src/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Removed NodeDiagnostics.msg from CmakeLists
  ros_bt_py_interfaces/CMakeLists.txt
Due: ament_lint_cmake

replaced SetExecutionMode.srv for setting collect_node_diagnostics in DebugManager and publish_subtrees in SubtreeManager with two seperate services
  ros_bt_py/src/ros_bt_py/debug_manager.py
  ros_bt_py/src/ros_bt_py/subtree_manager.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/src/ros_bt_py/tree_node.py
  ros_bt_py/tests/test_subtree_manager.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/DebugSettings.msg
  ros_bt_py_interfaces/srv/SetExecutionMode.srv
Due: ament_flake8, ament_pep257, ament_lint_cmake

Update Web-GUI to release/2.0.5
  ros_bt_py_web_gui/html/assets/index-38ccda16.js
  ros_bt_py_web_gui/html/assets/index-4535af27.js
  ros_bt_py_web_gui/html/index.html
Due: none

Reset wait nodes before shutdown.
  ros_bt_py/src/ros_bt_py/nodes/wait.py
Due: ament_flake8, ament_pep257

Add tests.
  ros_bt_py/tests/nodes/__init__.py
  ros_bt_py/tests/nodes/test_wait.py
Due: ament_flake8, ament_pep257

Fix symlink install parameter_library bug.
  ros_bt_py/ros_bt_py/__init__.py
  ros_bt_py/ros_bt_py/debug_manager.py
  ros_bt_py/ros_bt_py/exceptions.py
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/node_config.py
  ros_bt_py/ros_bt_py/node_data.py
  ros_bt_py/ros_bt_py/nodes/__init__.py
  ros_bt_py/ros_bt_py/nodes/compare.py
  ros_bt_py/ros_bt_py/nodes/constant.py
  ros_bt_py/ros_bt_py/nodes/decorators.py
  ros_bt_py/ros_bt_py/nodes/fallback.py
  ros_bt_py/ros_bt_py/nodes/format.py
  ros_bt_py/ros_bt_py/nodes/getters.py
  ros_bt_py/ros_bt_py/nodes/io.py
  ros_bt_py/ros_bt_py/nodes/list.py
  ros_bt_py/ros_bt_py/nodes/maths.py
  ros_bt_py/ros_bt_py/nodes/parallel.py
  ros_bt_py/ros_bt_py/nodes/passthrough_node.py
  ros_bt_py/ros_bt_py/nodes/random_number.py
  ros_bt_py/ros_bt_py/nodes/sequence.py
  ros_bt_py/ros_bt_py/nodes/setters.py
  ros_bt_py/ros_bt_py/nodes/wait.py
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/ros_helpers.py
  ros_bt_py/ros_bt_py/ros_nodes/__init__.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/enum.py
  ros_bt_py/ros_bt_py/ros_nodes/file.py
  ros_bt_py/ros_bt_py/ros_nodes/message_converters.py
  ros_bt_py/ros_bt_py/ros_nodes/messages_from_dict.py
  ros_bt_py/ros_bt_py/ros_nodes/param.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/ros_nodes/throttle.py
  ros_bt_py/ros_bt_py/ros_nodes/topic.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py/setup.py
Due: ament_flake8, ament_pep257

Ignore parameters module in test_import.py
  ros_bt_py/tests/test_import.py
Due: ament_flake8, ament_pep257

Remove print statements.
  ros_bt_py/tests/test_import.py
Due: ament_flake8, ament_pep257

Path conditions:
  ament_xmllint: any of: \.(xml)$
  ament_flake8: any of: \.(py)$
  ament_pep257: any of: \.(py)$
  ament_lint_cmake: any of: CMakeLists\.txt$
