Repository fzi-forschungszentrum-informatik/ros2_ros_bt_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        exclude: ((trees/)|(html/))
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
        exclude: ((trees/)|(html/))
      - id: end-of-file-fixer
        exclude: ((trees/)|(html/)|(testdata/))
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ((trees/)|(html/)|(testdata/))
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: fix-byte-order-marker  # Forbid UTF-8 byte-order markers
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
    - id: ament_copyright
      name: ament_copyright
      description: Check if copyright notice is available in all files.
      stages: [commit]
      entry: ament_copyright
      language: system
    - id: ament_xmllint
      name: ament_xmllint
      description: Static code analysis of xml files.
      stages: [commit]
      entry: ament_xmllint
      language: system
      files: \.(xml)$
    - id: ament_flake8
      name: ament_flake8
      description: Static code analysis of Python files with flake8.
      stages: [commit]
      entry: ament_flake8
      language: system
      files: \.(py)$
      args: ["--config=./.flake8"]
    - id: ament_pep257
      name: ament_pep257
      description: Static code analysis of Python files with pep257.
      stages: [commit]
      entry: ament_pep257
      language: system
      files: \.(py)$
    - id: ament_lint_cmake
      name: ament_lint_cmake
      description: Check format of CMakeLists.txt files.
      stages: [commit]
      entry: ament_lint_cmake
      language: system
      files: CMakeLists\.txt$
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    - id: remove-tabs
      exclude: |
        (?x)(
          html/|
          Makefile
        )
    - id: forbid-tabs
      exclude: |
        (?x)(
          html/|
          Makefile
        )

Start adding tests for service node (does not cover reset behavior)
  ros_bt_py/tests/integration/ros_nodes_isolation/test_service.py
  ros_bt_py/trees/ros_nodes_isolation/service.yaml
Due: ament_flake8, ament_pep257

List type accept and convert array.array values
  ros_bt_py/ros_bt_py/data_types.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

Update Web-GUI to 8.0.0
  ros_bt_py_web_gui/html/assets/NativeWebSocketTransport-CF_ebnyS-CfEqcO1X.js
  ros_bt_py_web_gui/html/assets/WsWebSocketTransport-6-v9C0gj-Bo1V9Nks.js
  ros_bt_py_web_gui/html/assets/browser-BvJxpyQ1.js
  ros_bt_py_web_gui/html/assets/browser-DjpkZdzK.js
  ros_bt_py_web_gui/html/assets/d3-DNndPsJ1.js
  ros_bt_py_web_gui/html/assets/d3-DtY9vT8z.js
  ros_bt_py_web_gui/html/assets/decompressPng-DB2EQ_f0-DN-MGY9v.js
  ros_bt_py_web_gui/html/assets/decompressPng-DW39mzPW-CEf36adZ.js
  ros_bt_py_web_gui/html/assets/fontawesome-Bm9pPkRI.js
  ros_bt_py_web_gui/html/assets/fontawesome-DMP4n0Su.js
  ros_bt_py_web_gui/html/assets/fusejs-CMLop-UK.js
  ros_bt_py_web_gui/html/assets/fusejs-Ch1WBRTM.js
  ros_bt_py_web_gui/html/assets/index-BFaD0Tim.js
  ros_bt_py_web_gui/html/assets/index-BtrRqaL7.css
  ros_bt_py_web_gui/html/assets/index-C3XDYGxl.css
  ros_bt_py_web_gui/html/assets/index-cOhpArHi.js
  ros_bt_py_web_gui/html/assets/jsoneditor-jwx4hNH1.js
  ros_bt_py_web_gui/html/assets/jsyaml-BUK5U-1n.js
  ros_bt_py_web_gui/html/assets/roslib-CVfGsBJM.js
  ros_bt_py_web_gui/html/assets/roslib-DrkCgPah.js
  ros_bt_py_web_gui/html/assets/vue-extras-BCcUetX7.js
  ros_bt_py_web_gui/html/assets/vue-extras-BcovFXAy.js
  ros_bt_py_web_gui/html/index.html
Due: none

Update Web-GUI to 8.0.0
  ros_bt_py_web_gui/html/assets/NativeWebSocketTransport-CF_ebnyS-CfEqcO1X.js
  ros_bt_py_web_gui/html/assets/WsWebSocketTransport-6-v9C0gj-Bo1V9Nks.js
  ros_bt_py_web_gui/html/assets/browser-BvJxpyQ1.js
  ros_bt_py_web_gui/html/assets/browser-DjpkZdzK.js
  ros_bt_py_web_gui/html/assets/d3-DNndPsJ1.js
  ros_bt_py_web_gui/html/assets/d3-DtY9vT8z.js
  ros_bt_py_web_gui/html/assets/decompressPng-DB2EQ_f0-DN-MGY9v.js
  ros_bt_py_web_gui/html/assets/decompressPng-DW39mzPW-CEf36adZ.js
  ros_bt_py_web_gui/html/assets/fontawesome-D1bOlrXq.js
  ros_bt_py_web_gui/html/assets/fontawesome-DMP4n0Su.js
  ros_bt_py_web_gui/html/assets/fusejs-CMLop-UK.js
  ros_bt_py_web_gui/html/assets/fusejs-Ch1WBRTM.js
  ros_bt_py_web_gui/html/assets/index-BBU8a87i.js
  ros_bt_py_web_gui/html/assets/index-C3XDYGxl.css
  ros_bt_py_web_gui/html/assets/index-CZ6wM9wh.css
  ros_bt_py_web_gui/html/assets/index-cOhpArHi.js
  ros_bt_py_web_gui/html/assets/jsoneditor-jwx4hNH1.js
  ros_bt_py_web_gui/html/assets/jsyaml-BUK5U-1n.js
  ros_bt_py_web_gui/html/assets/roslib-CVfGsBJM.js
  ros_bt_py_web_gui/html/assets/roslib-DrkCgPah.js
  ros_bt_py_web_gui/html/assets/vue-extras-BCcUetX7.js
  ros_bt_py_web_gui/html/assets/vue-extras-Cao_lW9Z.js
  ros_bt_py_web_gui/html/index.html
Due: none

Fix small issues.
  .gitignore
  AGENTS.md
  ros_bt_py/doc/source/data_types.rst
  ros_bt_py/ros_bt_py/data_types.py
  ros_bt_py/ros_bt_py/nodes/file.py
Due: ament_flake8, ament_pep257

Update configs
  .cmake-format.py
  .flake8
  .gitlab-ci.yml
  AGENTS.md
  LICENSE
Due: ament_flake8, ament_pep257

Update license headers.
  LICENSE
Due: none

Fix formatting.
  .cmake-format.py
  ros_bt_py/ros_bt_py/nodes/__init__.py
  ros_bt_py/ros_bt_py/nodes/constant.py
  ros_bt_py/ros_bt_py/nodes/format.py
  ros_bt_py/ros_bt_py/nodes/io.py
  ros_bt_py/ros_bt_py/nodes/parallel.py
  ros_bt_py/ros_bt_py/nodes/passthrough_node.py
  ros_bt_py/ros_bt_py/nodes/sequence.py
  ros_bt_py/ros_bt_py/nodes/setters.py
  ros_bt_py/ros_bt_py/ros_helpers.py
  ros_bt_py/ros_bt_py/ros_nodes/__init__.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/enum.py
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
  ros_bt_py/ros_bt_py/ros_nodes/param.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py/ros_bt_py/tree_edit_manager.py
  ros_bt_py/ros_bt_py/tree_exec_manager.py
  ros_bt_py/ros_bt_py/vendor/result/result.py
  ros_bt_py/tests/integration/flow_control_isolation/test_memory_sequence.py
  ros_bt_py/tests/integration/flow_control_isolation/test_sequence.py
  ros_bt_py/tests/integration/ros_nodes_isolation/test_service.py
  ros_bt_py/tests/integration/ros_nodes_isolation/test_topic_memory_subscribe.py
  ros_bt_py/tests/integration/ros_nodes_isolation/test_topic_subscribe.py
  ros_bt_py/tests/test_data_flow_manager.py
  ros_bt_py/tests/test_helpers.py
  ros_bt_py/tests/test_ros_helpers.py
  ros_bt_py_interfaces/CMakeLists.txt
Due: ament_flake8, ament_pep257, ament_lint_cmake

Add lyrical target.
  .github/workflows/build_test.yml
Due: none

fix: restore pytest execution on lyrical
  ros_bt_py/pyproject.toml
  ros_bt_py/ros_bt_py/logging_manager.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/setup.py
  ros_bt_py/tests/test_package_manager.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_web_gui/CMakeLists.txt
Due: ament_flake8, ament_pep257, ament_lint_cmake

Add stability warning.
  README.md
Due: none

add: Add integration tests for constant, wait, concatenation nodes.
  ros_bt_py/setup.py
  ros_bt_py/tests/integration/conftest.py
  ros_bt_py/tests/integration/nodes_isolation/test_constant_passthrough.py
  ros_bt_py/trees/nodes_isolation/constant_passthrough.yaml
  ros_bt_py/trees/nodes_isolation/get_file_extension.yaml
  ros_bt_py/trees/nodes_isolation/string_concatenation.yaml
  ros_bt_py/trees/ros_nodes_isolation/wait.yaml
Due: ament_flake8, ament_pep257

fix: Missing [
  .github/workflows/build_test.yml
Due: none

Update test to fix some issues.
  .gitignore
  ros_bt_py/ros_bt_py/data_flow_manager.py
  ros_bt_py/ros_bt_py/nodes/decorators.py
  ros_bt_py/tests/integration/README.md
  ros_bt_py/tests/integration/flow_control_isolation/test_decorators.py
  ros_bt_py/tests/integration/ros_nodes_isolation/test_message_converters.py
  ros_bt_py/tests/integration/ros_nodes_isolation/test_subtree.py
  ros_bt_py/tests/integration/ros_nodes_isolation/test_topic_publish.py
  ros_bt_py/trees/flow_control_isolation/decorators.yaml
  ros_bt_py/trees/flow_control_isolation/decorators_live.yaml
  ros_bt_py/trees/flow_control_isolation/memory_sequence.yaml
  ros_bt_py/trees/flow_control_isolation/sequence.yaml
  ros_bt_py/trees/nodes_isolation/constant_passthrough.yaml
  ros_bt_py/trees/nodes_isolation/format.yaml
  ros_bt_py/trees/nodes_isolation/get_file_extension.yaml
  ros_bt_py/trees/nodes_isolation/getters.yaml
  ros_bt_py/trees/nodes_isolation/iterate_list_child_failure.yaml
  ros_bt_py/trees/nodes_isolation/iterate_list_empty.yaml
  ros_bt_py/trees/nodes_isolation/list_transformations.yaml
  ros_bt_py/trees/nodes_isolation/string_concatenation.yaml
  ros_bt_py/trees/ros_nodes_isolation/enum_switch.yaml
  ros_bt_py/trees/ros_nodes_isolation/fields_to_message_missing_field.yaml
  ros_bt_py/trees/ros_nodes_isolation/get_time_now.yaml
  ros_bt_py/trees/ros_nodes_isolation/message_converters.yaml
  ros_bt_py/trees/ros_nodes_isolation/message_to_fields_missing_input.yaml
  ros_bt_py/trees/ros_nodes_isolation/ros_param.yaml
  ros_bt_py/trees/ros_nodes_isolation/service.yaml
  ros_bt_py/trees/ros_nodes_isolation/subtree_nested.yaml
  ros_bt_py/trees/ros_nodes_isolation/subtree_outer.yaml
  ros_bt_py/trees/ros_nodes_isolation/throttle.yaml
  ros_bt_py/trees/ros_nodes_isolation/topic_memory_subscribe.yaml
  ros_bt_py/trees/ros_nodes_isolation/topic_subscribe.yaml
Due: ament_flake8, ament_pep257

Fix subtree tests.
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/tests/integration/ros_nodes_isolation/test_topic_publish.py
  ros_bt_py/trees/ros_nodes_isolation/subtree_nested.yaml
Due: ament_flake8, ament_pep257

Dont stop on first fail.
  .github/workflows/build_test.yml
Due: none

fix: handle ROS 2 CI compatibility issues
  ros_bt_py/ros_bt_py/tree_edit_manager.py
  ros_bt_py/tests/integration/ros_nodes_isolation/test_topic_publish.py
Due: ament_flake8, ament_pep257

fix: handle uninitialized topic subscriptions
  ros_bt_py/ros_bt_py/ros_nodes/topic.py
  ros_bt_py/tests/integration/ros_nodes_isolation/test_topic_memory_subscribe.py
Due: ament_flake8, ament_pep257

fix: avoid deadlock when clearing trees
  ros_bt_py/ros_bt_py/tree_exec_manager.py
  ros_bt_py/tests/test_tree_exec_manager.py
Due: ament_flake8, ament_pep257

fix: republish package metadata to late subscribers
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py/tests/test_package_manager.py
Due: ament_flake8, ament_pep257

test: add shipped Web UI integration coverage
  .github/workflows/build_test.yml
  ros_bt_py/tests/integration/README.md
  ros_bt_py/tests/integration/conftest.py
  ros_bt_py/tests/integration/web_ui/conftest.py
  ros_bt_py/tests/integration/web_ui/test_shipped_ui.py
  ui_test_requirements.txt
Due: ament_flake8, ament_pep257

ci: Disable non-main CI triggers
  .github/workflows/build_test.yml
Due: none

fix: correct node lifecycle handling and UI tests
  .gitignore
  ros_bt_py/pyproject.toml
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/nodes/decorators.py
  ros_bt_py/ros_bt_py/nodes/file.py
  ros_bt_py/ros_bt_py/nodes/list.py
  ros_bt_py/ros_bt_py/nodes/sequence.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/ros_nodes/wait.py
  ros_bt_py/tests/integration/flow_control_isolation/test_core_flow_control.py
  ros_bt_py/tests/integration/flow_control_isolation/test_memory_sequence.py
  ros_bt_py/tests/integration/flow_control_isolation/test_sequence_additional_branches.py
  ros_bt_py/tests/integration/ros_nodes_isolation/test_subtree.py
  ros_bt_py/tests/integration/web_ui/conftest.py
  ros_bt_py/tests/integration/web_ui/test_shipped_ui.py
Due: ament_flake8, ament_pep257

ci: install Playwright from apt packages
  .github/workflows/build_test.yml
  ros_bt_py/pyproject.toml
Due: none

ci: Fix playwright installation,
  .github/workflows/build_test.yml
  .gitignore
Due: none

ci: fix Playwright setup across ROS distros
  .github/workflows/build_test.yml
Due: none

ci: support Humble pytest with Playwright
  .github/workflows/build_test.yml
Due: none

Update Web-GUI to 8.0.1
  ros_bt_py_web_gui/html/assets/index-BBU8a87i.js
  ros_bt_py_web_gui/html/assets/index-Byv4TvNS.css
  ros_bt_py_web_gui/html/assets/index-DgdZo5SF.js
  ros_bt_py_web_gui/html/index.html
Due: none

ci: cache CI dependencies
  .github/workflows/build_test.yml
Due: none

fix: Invalid typecheck annotator for humble.
  .gitlab-ci.yml
  ros_bt_py/ros_bt_py/package_manager.py
Due: ament_flake8, ament_pep257

ci: Upload playwright cache on failure.
  .github/workflows/build_test.yml
  ros_bt_py/pyproject.toml
Due: none

ci: Fix playwright screenshots are now stored.
  .github/workflows/build_test.yml
Due: none

ci: Make web ui test optional.
  ros_bt_py/tests/integration/web_ui/test_shipped_ui.py
Due: ament_flake8, ament_pep257

fix: Fix error reporting for invalid states.
  .github/workflows/build_test.yml
  ros_bt_py/ros_bt_py/node.py
Due: ament_flake8, ament_pep257

Apply suggestion from @nspielbau
  ros_bt_py/ros_bt_py/tree_edit_manager.py
Due: ament_flake8, ament_pep257

fix: allow editing malformed trees
  ros_bt_py/ros_bt_py/tree_edit_manager.py
  ros_bt_py/ros_bt_py/tree_exec_manager.py
  ros_bt_py/tests/test_tree_edit_manager.py
Due: ament_flake8, ament_pep257

fix: handle service shutdown before first tick
  ros_bt_py/ros_bt_py/ros_nodes/service.py
  ros_bt_py/tests/integration/ros_nodes_isolation/test_service.py
Due: ament_flake8, ament_pep257
