Repository fzi-forschungszentrum-informatik/ros2_ros_bt_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

ament_xmllint:
  name: ament_xmllint
  description: Static code analysis of xml files.
  stages:
  - commit
  entry: ament_xmllint
  language: system

ament_flake8:
  name: ament_flake8
  description: Static code analysis of Python files with flake8.
  stages:
  - commit
  entry: ament_flake8
  language: system
  args:
  - --config=./.flake8

ament_pep257:
  name: ament_pep257
  description: Static code analysis of Python files with pep257.
  stages:
  - commit
  entry: ament_pep257
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Update Web-GUI to release/3.3.1
  ros_bt_py_web_gui/html/assets/Fallback-2ee56f49.svg
  ros_bt_py_web_gui/html/assets/MemoryFallback-3ee0698f.svg
  ros_bt_py_web_gui/html/assets/MemorySequence-2e6b0601.svg
  ros_bt_py_web_gui/html/assets/Parallel-49faf4c2.svg
  ros_bt_py_web_gui/html/assets/ParallelFailureTolerance-b3893438.svg
  ros_bt_py_web_gui/html/assets/Sequence-4c243352.svg
  ros_bt_py_web_gui/html/assets/index-85573d68.js
  ros_bt_py_web_gui/html/assets/index-9029567b.css
  ros_bt_py_web_gui/html/assets/index-f0285296.js
  ros_bt_py_web_gui/html/index.html
Due: none

Update changelog
  CHANGELOG.md
Due: none

Update changelog for v0.3.0
  CHANGELOG.md
Due: none

Rework message types
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/NodeIO.msg
  ros_bt_py_interfaces/msg/NodeOption.msg
  ros_bt_py_interfaces/msg/NodeState.msg
  ros_bt_py_interfaces/msg/NodeStructure.msg
  ros_bt_py_interfaces/msg/TreeData.msg
  ros_bt_py_interfaces/msg/TreeState.msg
  ros_bt_py_interfaces/msg/TreeStructure.msg
  ros_bt_py_interfaces/msg/Wiring.msg
  ros_bt_py_interfaces/msg/WiringData.msg
  ros_bt_py_interfaces/msg/WiringEndpoint.msg
Due: ament_lint_cmake

Fix initially apparent errors (from message class rework)
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/NodeDataLocation.msg
  ros_bt_py_interfaces/msg/TreeStructure.msg
  ros_bt_py_interfaces/msg/Wiring.msg
Due: ament_flake8, ament_pep257, ament_lint_cmake

Update service definitions
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/DocumentedNode.msg
  ros_bt_py_interfaces/srv/AddNode.srv
  ros_bt_py_interfaces/srv/AddNodeAtIndex.srv
  ros_bt_py_interfaces/srv/GenerateSubtree.srv
  ros_bt_py_interfaces/srv/GetAvailableSubtrees.srv
  ros_bt_py_interfaces/srv/GetSubtree.srv
  ros_bt_py_interfaces/srv/InsertNode.srv
  ros_bt_py_interfaces/srv/LoadTree.srv
  ros_bt_py_interfaces/srv/MigrateTree.srv
  ros_bt_py_interfaces/srv/MorphNode.srv
  ros_bt_py_interfaces/srv/SaveTree.srv
  ros_bt_py_interfaces/srv/SetOptions.srv
  ros_bt_py_interfaces/srv/TestService.srv
  ros_bt_py_interfaces/srv/WireNodeData.srv
Due: ament_lint_cmake

Update imports for state constants
  ros_bt_py/ros_bt_py/nodes/compare.py
  ros_bt_py/ros_bt_py/nodes/constant.py
  ros_bt_py/ros_bt_py/nodes/decorators.py
  ros_bt_py/ros_bt_py/nodes/fallback.py
  ros_bt_py/ros_bt_py/nodes/format.py
  ros_bt_py/ros_bt_py/nodes/getters.py
  ros_bt_py/ros_bt_py/nodes/io.py
  ros_bt_py/ros_bt_py/nodes/list.py
  ros_bt_py/ros_bt_py/nodes/maths.py
  ros_bt_py/ros_bt_py/nodes/parallel.py
  ros_bt_py/ros_bt_py/nodes/passthrough_node.py
  ros_bt_py/ros_bt_py/nodes/random_number.py
  ros_bt_py/ros_bt_py/nodes/sequence.py
  ros_bt_py/ros_bt_py/nodes/setters.py
  ros_bt_py/ros_bt_py/nodes/wait.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/enum.py
  ros_bt_py/ros_bt_py/ros_nodes/file.py
  ros_bt_py/ros_bt_py/ros_nodes/message_converters.py
  ros_bt_py/ros_bt_py/ros_nodes/messages_from_dict.py
  ros_bt_py/ros_bt_py/ros_nodes/param.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/ros_nodes/throttle.py
  ros_bt_py/ros_bt_py/ros_nodes/time.py
  ros_bt_py/ros_bt_py/ros_nodes/topic.py
Due: ament_flake8, ament_pep257

Update tree manager part1
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/CapabilityInterface.msg
Due: ament_flake8, ament_pep257, ament_lint_cmake

Implement tree state publishing
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py_interfaces/msg/TreeState.msg
Due: ament_flake8, ament_pep257

Revert to explicitly specifying "serialized" on message fields
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py_interfaces/msg/NodeIO.msg
  ros_bt_py_interfaces/msg/NodeOption.msg
  ros_bt_py_interfaces/msg/WiringData.msg
Due: ament_flake8, ament_pep257

Publish Wiring Data if tree is run with 'Tick Once'
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py_interfaces/msg/WiringData.msg
Due: ament_flake8, ament_pep257

Change ppublishing to produce more consistent results and overwrite stale data
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

changed theme to be inline with ros2 documentation
  ros_bt_py/doc/source/advanced_tutorial.rst
  ros_bt_py/doc/source/basic_tutorial.rst
  ros_bt_py/doc/source/conf.py
  ros_bt_py/doc/source/configuration.rst
  ros_bt_py/doc/source/creating_a_node_class_package.rst
  ros_bt_py/doc/source/creating_node_classes.rst
  ros_bt_py/doc/source/getting_started.rst
  ros_bt_py/doc/source/index.rst
  ros_bt_py/doc/source/node_creation.rst
  ros_bt_py/doc/source/testing_node_classes.rst
  ros_bt_py/doc/source/tutorials.rst
Due: ament_flake8, ament_pep257

Remove data publish on unwire, since that dumps all data (tree is shutdown)
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Include subtree information in tree topics
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/TreeData.msg
  ros_bt_py_interfaces/msg/TreeDataList.msg
  ros_bt_py_interfaces/msg/TreeState.msg
  ros_bt_py_interfaces/msg/TreeStateList.msg
  ros_bt_py_interfaces/msg/TreeStructure.msg
  ros_bt_py_interfaces/msg/TreeStructureList.msg
Due: ament_flake8, ament_pep257, ament_lint_cmake

Manually enable data publish, data is published with every tick
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/ros_bt_py/tree_node.py
Due: ament_flake8, ament_pep257

Clear tree data on disable
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Properly set tree ids and clean up outdated subtree
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Fix cleanup of outdated subtrees
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Always collect subtree messages and toggle publishing in manager.
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Update tests to new tree message types
  ros_bt_py/ros_bt_py/ros_nodes/enum.py
  ros_bt_py/tests/nodes/test_wait.py
  ros_bt_py/tests/ros_nodes/test_enum_fields.py
  ros_bt_py/tests/ros_nodes/test_fields_to_message.py
  ros_bt_py/tests/ros_nodes/test_message_from_dict.py
  ros_bt_py/tests/ros_nodes/test_message_from_dict_const.py
  ros_bt_py/tests/ros_nodes/test_message_to_fields.py
  ros_bt_py/tests/ros_nodes/test_ros_param_input.py
  ros_bt_py/tests/ros_nodes/test_ros_param_option.py
  ros_bt_py/tests/ros_nodes/test_ros_param_option_default_input.py
  ros_bt_py/tests/ros_nodes/test_service.py
  ros_bt_py/tests/ros_nodes/test_service_input.py
  ros_bt_py/tests/ros_nodes/test_wait_for_service.py
  ros_bt_py/tests/ros_nodes/test_wait_for_service_input.py
  ros_bt_py/tests/test_helpers.py
  ros_bt_py/tests/test_package_manager.py
  ros_bt_py/tests/test_ros_helpers.py
  ros_bt_py/tests/test_subtree_manager.py
Due: ament_flake8, ament_pep257

Replaced node name with uuid.
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/debug_manager.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/nodes/fallback.py
  ros_bt_py/ros_bt_py/ros_helpers.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/tests/ros_nodes/test_wait_for_service_input.py
  ros_bt_py/tests/test_subtree_manager.py
  ros_bt_py_interfaces/msg/DocumentedNode.msg
  ros_bt_py_interfaces/msg/Node.msg
  ros_bt_py_interfaces/msg/NodeDataLocation.msg
  ros_bt_py_interfaces/msg/Tree.msg
  ros_bt_py_interfaces/srv/AddNode.srv
  ros_bt_py_interfaces/srv/AddNodeAtIndex.srv
  ros_bt_py_interfaces/srv/GenerateSubtree.srv
  ros_bt_py_interfaces/srv/GetSubtree.srv
  ros_bt_py_interfaces/srv/InsertNode.srv
  ros_bt_py_interfaces/srv/MorphNode.srv
  ros_bt_py_interfaces/srv/MoveNode.srv
  ros_bt_py_interfaces/srv/RemoveNode.srv
  ros_bt_py_interfaces/srv/ReplaceNode.srv
  ros_bt_py_interfaces/srv/SetOptions.srv
Due: ament_xmllint, ament_flake8, ament_pep257

Adapted NameSwitch node
  ros_bt_py/ros_bt_py/nodes/fallback.py
Due: ament_flake8, ament_pep257

Update Web-GUI to 4.0.0
  ros_bt_py_web_gui/html/assets/index-BppXkrA4.js
  ros_bt_py_web_gui/html/assets/index-DW-kJ25_.js
  ros_bt_py_web_gui/html/index.html
Due: none

Update Web-GUI to 4.0.1
  ros_bt_py_web_gui/html/assets/index-BppXkrA4.js
  ros_bt_py_web_gui/html/assets/index-DW-kJ25_.js
  ros_bt_py_web_gui/html/index.html
Due: none

Add git cliff for changelog management
  .github/workflows/changelog.yml
  CHANGELOG.md
  cliff.toml
Due: none

Fix changelog ci job
  .github/workflows/changelog.yml
  CHANGELOG.md
Due: none

Fix changelog ci job
  .github/workflows/changelog.yml
Due: none

Changle cliff.toml
  cliff.toml
Due: none

Fix seconds_running calculation error in action
  ros_bt_py/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

Remove commented out code
  ros_bt_py/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

Added tests for action node
  ros_bt_py/tests/ros_nodes/test_action.py
Due: ament_flake8, ament_pep257

Updated package.xml and CMakeLists.txt
  ros_bt_py/package.xml
  ros_bt_py_interfaces/CMakeLists.txt
Due: ament_xmllint, ament_lint_cmake

Corrected import path
  ros_bt_py/tests/ros_nodes/test_action.py
Due: ament_flake8, ament_pep257

fix mock usage
  ros_bt_py/tests/ros_nodes/test_action.py
Due: ament_flake8, ament_pep257

Fix issues with action fail on available
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py_interfaces/CMakeLists.txt
Due: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

Path conditions:
  ament_xmllint: any of: \.(xml)$
  ament_flake8: any of: \.(py)$
  ament_pep257: any of: \.(py)$
  ament_lint_cmake: any of: CMakeLists\.txt$
