Repository fzi-forschungszentrum-informatik/ros2_ros_bt_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
        exclude: ((trees/)|(html/))
      - id: end-of-file-fixer
        exclude: ((trees/)|(html/)|(testdata/))
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ((trees/)|(html/)|(testdata/))
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: fix-byte-order-marker  # Forbid UTF-8 byte-order markers
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: local
    hooks:
    #- id: ament_copyright
    #  name: ament_copyright
    #  description: Check if copyright notice is available in all files.
    #  stages: [commit]
    #  entry: ament_copyright
    #  language: system
    - id: ament_xmllint
      name: ament_xmllint
      description: Static code analysis of xml files.
      stages: [commit]
      entry: ament_xmllint
      language: system
      files: \.(xml)$
    - id: ament_flake8
      name: ament_flake8
      description: Static code analysis of Python files with flake8.
      stages: [commit]
      entry: ament_flake8
      language: system
      files: \.(py)$
      args: ["--config=./.flake8"]
    - id: ament_pep257
      name: ament_pep257
      description: Static code analysis of Python files with pep257.
      stages: [commit]
      entry: ament_pep257
      language: system
      files: \.(py)$
    - id: ament_lint_cmake
      name: ament_lint_cmake
      description: Check format of CMakeLists.txt files.
      stages: [commit]
      entry: ament_lint_cmake
      language: system
      files: CMakeLists\.txt$

Bumped doc version
  ros_bt_py/doc/source/conf.py
Due: ament_flake8, ament_pep257

Remove docu build from README
  CHANGELOG.md
  README.md
Due: none

Added manual documentation build to doc dir
  ros_bt_py/doc/README.md
Due: none

Add codecov config.
  codecov.yaml
Due: none

Remove ament_auto_lint from ros_bt_py_web_gui
  ros_bt_py_web_gui/CMakeLists.txt
  ros_bt_py_web_gui/package.xml
Due: ament_xmllint, ament_lint_cmake

Fix documentation makefile back to tabs.
  .pre-commit-config.yaml
  ros_bt_py/doc/Makefile
Due: none

Update changelog.
  CHANGELOG.md
Due: none

Removed shoving ref which was not defined
  ros_bt_py/doc/source/utility_functions.rst
Due: none

Removed faulty header
  ros_bt_py/doc/source/creating_node_classes.rst
Due: none

Fixed module path for autodoc
  ros_bt_py/doc/source/conf.py
Due: ament_flake8, ament_pep257

Added mock imports for autodoc
  ros_bt_py/doc/source/conf.py
Due: ament_flake8, ament_pep257

Added documentation fix to changelog
  CHANGELOG.md
Due: none

Added tree storage path documentation
  README.md
  ros_bt_py/doc/source/advanced_launch_configuration.rst
Due: none

Removed some !-marks
  ros_bt_py/doc/source/advanced_launch_configuration.rst
Due: none

Fixed up README
  README.md
Due: none

Added more lists to output
  ros_bt_py_interfaces/srv/test_srvs/IntList.srv
Due: none

Added silent conversion of arrays to lists
  ros_bt_py/ros_bt_py/node_data.py
Due: ament_flake8, ament_pep257

Added helper function for setting data graph nodes
  ros_bt_py/ros_bt_py/ros_helpers.py
Due: ament_flake8, ament_pep257

Added test srv
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/srv/test_srvs/IntList.srv
Due: ament_lint_cmake

Fixed data type in/outputs
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/message_converters.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
Due: ament_flake8, ament_pep257

Added line between icons and header
  README.md
Due: none

Added missing )
  README.md
Due: none

Update node config.
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/node_config.py
  ros_bt_py/ros_bt_py/nodes/compare.py
  ros_bt_py/ros_bt_py/nodes/maths.py
  ros_bt_py/ros_bt_py/ros_nodes/enum.py
  ros_bt_py/ros_bt_py/ros_nodes/message_converters.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/tests/test_node_config.py
Due: ament_flake8, ament_pep257

Update service.
  ros_bt_py/ros_bt_py/ros_nodes/service.py
  ros_bt_py/tests/ros_nodes/test_service.py
Due: ament_flake8, ament_pep257

Update Constant node.
  ros_bt_py/ros_bt_py/nodes/constant.py
Due: ament_flake8, ament_pep257

Update Web-GUI to release/3.0.0
  ros_bt_py_web_gui/html/assets/bootstrap-a83ed21d.js
  ros_bt_py_web_gui/html/assets/d3-8709092b.js
  ros_bt_py_web_gui/html/assets/d3-9cd3fbd4.js
  ros_bt_py_web_gui/html/assets/fontawesome-8d85ad6a.js
  ros_bt_py_web_gui/html/assets/fontawesome-a8893a9e.js
  ros_bt_py_web_gui/html/assets/fusejs-a1032ea1.js
  ros_bt_py_web_gui/html/assets/index-08fce88f.js
  ros_bt_py_web_gui/html/assets/index-2a0ae87f.css
  ros_bt_py_web_gui/html/assets/index-4535af27.js
  ros_bt_py_web_gui/html/assets/index-761128e4.js
  ros_bt_py_web_gui/html/assets/index-f825e2ee.css
  ros_bt_py_web_gui/html/assets/index-fb3bb3b9.js
  ros_bt_py_web_gui/html/assets/jsoneditor-3d7e4d7b.js
  ros_bt_py_web_gui/html/assets/jsoneditor-e59672c6.js
  ros_bt_py_web_gui/html/assets/jsyaml-38530ef5.js
  ros_bt_py_web_gui/html/assets/ros_bt_py-07e41243.svg
  ros_bt_py_web_gui/html/assets/roslib-2533a6fc.js
  ros_bt_py_web_gui/html/assets/roslib-352f024a.js
  ros_bt_py_web_gui/html/assets/source-sans-pro-cyrillic-400-normal-c73c9d26.woff2
  ros_bt_py_web_gui/html/assets/source-sans-pro-cyrillic-400-normal-d6072cf4.woff
  ros_bt_py_web_gui/html/assets/source-sans-pro-cyrillic-ext-400-normal-4ba425fa.woff2
  ros_bt_py_web_gui/html/assets/source-sans-pro-cyrillic-ext-400-normal-86893cf4.woff
  ros_bt_py_web_gui/html/assets/source-sans-pro-greek-400-normal-586ab659.woff
  ros_bt_py_web_gui/html/assets/source-sans-pro-greek-400-normal-9755c83c.woff2
  ros_bt_py_web_gui/html/assets/source-sans-pro-greek-ext-400-normal-c267e677.woff
  ros_bt_py_web_gui/html/assets/source-sans-pro-greek-ext-400-normal-f2a19d8c.woff2
  ros_bt_py_web_gui/html/assets/source-sans-pro-latin-400-normal-69491b82.woff
  ros_bt_py_web_gui/html/assets/source-sans-pro-latin-400-normal-7b348b30.woff2
  ros_bt_py_web_gui/html/assets/source-sans-pro-latin-ext-400-normal-2ffb1c70.woff
  ros_bt_py_web_gui/html/assets/source-sans-pro-latin-ext-400-normal-39cf9abc.woff2
  ros_bt_py_web_gui/html/assets/source-sans-pro-vietnamese-400-normal-bb1c0391.woff
  ros_bt_py_web_gui/html/assets/source-sans-pro-vietnamese-400-normal-de1f7870.woff2
  ros_bt_py_web_gui/html/assets/vue-extras-932ecbcf.js
  ros_bt_py_web_gui/html/assets/web-vitals-60d3425a.js
  ros_bt_py_web_gui/html/favicon.ico
  ros_bt_py_web_gui/html/favicon.png
  ros_bt_py_web_gui/html/index.html
  ros_bt_py_web_gui/html/manifest.json
Due: none

Update changelog for v0.1.1
  CHANGELOG.md
  ros_bt_py/doc/source/conf.py
  ros_bt_py/package.xml
  ros_bt_py_interfaces/package.xml
  ros_bt_py_web_gui/package.xml
Due: ament_xmllint, ament_flake8, ament_pep257

Update Web-GUI to release/3.1.0
  ros_bt_py_web_gui/html/assets/fontawesome-06e759de.js
  ros_bt_py_web_gui/html/assets/index-2324e7fc.css
  ros_bt_py_web_gui/html/assets/index-2a0ae87f.css
  ros_bt_py_web_gui/html/assets/index-61a763f8.js
  ros_bt_py_web_gui/html/assets/index-fb3bb3b9.js
  ros_bt_py_web_gui/html/assets/vue-extras-a69212ed.js
  ros_bt_py_web_gui/html/index.html
Due: none

Implement FilePath type
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
Due: ament_flake8, ament_pep257

Move math types to new location
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/nodes/maths.py
Due: ament_flake8, ament_pep257
