Repository fzi-forschungszentrum-informatik/ros2_ros_bt_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
        exclude: ((trees/)|(html/))
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
        exclude: ((trees/)|(html/))
      - id: end-of-file-fixer
        exclude: ((trees/)|(html/)|(testdata/))
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ((trees/)|(html/)|(testdata/))
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: fix-byte-order-marker  # Forbid UTF-8 byte-order markers
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: local
    hooks:
    - id: ament_copyright
      name: ament_copyright
      description: Check if copyright notice is available in all files.
      stages: [commit]
      entry: ament_copyright
      language: system
    - id: ament_xmllint
      name: ament_xmllint
      description: Static code analysis of xml files.
      stages: [commit]
      entry: ament_xmllint
      language: system
      files: \.(xml)$
    - id: ament_flake8
      name: ament_flake8
      description: Static code analysis of Python files with flake8.
      stages: [commit]
      entry: ament_flake8
      language: system
      files: \.(py)$
      args: ["--config=./.flake8"]
    - id: ament_pep257
      name: ament_pep257
      description: Static code analysis of Python files with pep257.
      stages: [commit]
      entry: ament_pep257
      language: system
      files: \.(py)$
    - id: ament_lint_cmake
      name: ament_lint_cmake
      description: Check format of CMakeLists.txt files.
      stages: [commit]
      entry: ament_lint_cmake
      language: system
      files: CMakeLists\.txt$
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
    - id: remove-tabs
      exclude: |
        (?x)(
          html/|
          Makefile
        )
    - id: forbid-tabs
      exclude: |
        (?x)(
          html/|
          Makefile
        )

Implement Ros Action types and baseclasses
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
Due: ament_flake8, ament_pep257

Publish names and types of existing topics and services. Actions still missing
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/ros_helpers.py
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/MessageChannel.msg
  ros_bt_py_interfaces/msg/MessageChannels.msg
Due: ament_flake8, ament_pep257, ament_lint_cmake

Keep maths types in helpers.py for compatibility
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/nodes/maths.py
Due: ament_flake8, ament_pep257

Implement Ros Topic types
  ros_bt_py/ros_bt_py/ros_nodes/message_converters.py
  ros_bt_py/ros_bt_py/ros_nodes/messages_from_dict.py
  ros_bt_py/ros_bt_py/ros_nodes/topic.py
Due: ament_flake8, ament_pep257

Add action name discovery
  ros_bt_py/ros_bt_py/ros_helpers.py
Due: ament_flake8, ament_pep257

Remove checks that are now redundant
  ros_bt_py/ros_bt_py/nodes/getters.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/message_converters.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
Due: ament_flake8, ament_pep257

Restructure MessageType publlishing
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/MessageTypes.msg
  ros_bt_py_interfaces/msg/Messages.msg
Due: ament_flake8, ament_pep257, ament_lint_cmake

Add default values to Ros Message types
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/action/Empty.action
Due: ament_flake8, ament_pep257, ament_lint_cmake

Remove empty action.
  ros_bt_py/package.xml
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/action/Empty.action
Due: ament_xmllint, ament_lint_cmake

Fix test_fields_to_message
  ros_bt_py/ros_bt_py/ros_nodes/message_converters.py
  ros_bt_py/tests/ros_nodes/test_fields_to_message.py
Due: ament_flake8, ament_pep257

Fix test_message_from_dict_const
  ros_bt_py/tests/ros_nodes/test_message_from_dict_const.py
Due: ament_flake8, ament_pep257

Fix test_message_from_dict
  ros_bt_py/tests/ros_nodes/test_message_from_dict.py
Due: ament_flake8, ament_pep257

Fix test_service
  ros_bt_py/tests/ros_nodes/test_service.py
Due: ament_flake8, ament_pep257

Fix test_message_to_fields
  ros_bt_py/tests/ros_nodes/test_message_to_fields.py
Due: ament_flake8, ament_pep257

Fix test_service_input
  ros_bt_py/tests/ros_nodes/test_service_input.py
Due: ament_flake8, ament_pep257

Fix test_wait_for_service
  ros_bt_py/tests/ros_nodes/test_wait_for_service.py
Due: ament_flake8, ament_pep257

Fix test_wait_for_service_input
  ros_bt_py/tests/ros_nodes/test_wait_for_service_input.py
Due: ament_flake8, ament_pep257

Add handler to allow the loading of old trees.
  ros_bt_py/ros_bt_py/node_data.py
  ros_bt_py/ros_bt_py/ros_helpers.py
Due: ament_flake8, ament_pep257

Fix invalid default value.
  ros_bt_py/ros_bt_py/custom_types.py
Due: ament_flake8, ament_pep257

Update changelog for v0.2.0
  CHANGELOG.md
Due: none

Allow for node options to give type hints
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/nodes/constant.py
Due: ament_flake8, ament_pep257

Update get_message_fields to provide recursive type information
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/nodes/maths.py
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/ros_nodes/messages_from_dict.py
  ros_bt_py_interfaces/srv/GetMessageFields.srv
Due: ament_flake8, ament_pep257

Add custom types
  ros_bt_py/ros_bt_py/ros_nodes/enum.py
  ros_bt_py/ros_bt_py/ros_nodes/file.py
Due: ament_flake8, ament_pep257

Add typing hints for builtin
  ros_bt_py/ros_bt_py/nodes/compare.py
  ros_bt_py/ros_bt_py/ros_nodes/param.py
Due: ament_flake8, ament_pep257

fix message constant fields service including tests
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/tests/test_package_manager.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/srv/GetMessageConstantFields.srv
Due: ament_flake8, ament_pep257, ament_lint_cmake

Implement generic type wrapper
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/node_data.py
  ros_bt_py/ros_bt_py/nodes/compare.py
  ros_bt_py/ros_bt_py/nodes/constant.py
  ros_bt_py/ros_bt_py/ros_nodes/messages_from_dict.py
  ros_bt_py/ros_bt_py/ros_nodes/param.py
Due: ament_flake8, ament_pep257

Integrate TypeWrapper with compatibility conversions
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/node_data.py
Due: ament_flake8, ament_pep257

Apply TopicType to EnumFields
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/ros_nodes/enum.py
Due: ament_flake8, ament_pep257

Reenable Node metaclass and fix docstring generator
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
Due: ament_flake8, ament_pep257

Remove non-functional enum node
  ros_bt_py/ros_bt_py/ros_nodes/enum.py
Due: ament_flake8, ament_pep257

Update ConstFields Service
  ros_bt_py/ros_bt_py/custom_types.py
  ros_bt_py/ros_bt_py/tree_node.py
Due: ament_flake8, ament_pep257

Integrate abc into NodeMeta and Node classes
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
Due: ament_flake8, ament_pep257

Switch to best_effort for tree publishing.
  ros_bt_py/ros_bt_py/tree_node.py
Due: ament_flake8, ament_pep257

Update tests for EnumFields node
  ros_bt_py/ros_bt_py/ros_nodes/enum.py
  ros_bt_py/tests/ros_nodes/test_enum.py
  ros_bt_py/tests/ros_nodes/test_enum_fields.py
Due: ament_flake8, ament_pep257

Fixed TopicSubscriber node behavior
  CHANGELOG.md
  ros_bt_py/ros_bt_py/ros_nodes/topic.py
Due: ament_flake8, ament_pep257

Update changelog
  CHANGELOG.md
Due: none

Update Web-GUI to release/3.3.0
  ros_bt_py_web_gui/html/assets/fontawesome-736d2bab.js
  ros_bt_py_web_gui/html/assets/fontawesome-f5fb8f95.js
  ros_bt_py_web_gui/html/assets/index-37ab177d.js
  ros_bt_py_web_gui/html/assets/index-56bf0952.css
  ros_bt_py_web_gui/html/assets/index-85573d68.js
  ros_bt_py_web_gui/html/assets/index-ba168187.css
  ros_bt_py_web_gui/html/assets/vue-extras-1cf19582.js
  ros_bt_py_web_gui/html/index.html
Due: none

Update changelog.
  CHANGELOG.md
Due: none
