Repository fzi-forschungszentrum-informatik/ros2_ros_bt_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
        exclude: ((trees/)|(html/))
      - id: end-of-file-fixer
        exclude: ((trees/)|(html/)|(testdata/))
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ((trees/)|(html/)|(testdata/))
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: fix-byte-order-marker  # Forbid UTF-8 byte-order markers
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: local
    hooks:
    #- id: ament_copyright
    #  name: ament_copyright
    #  description: Check if copyright notice is available in all files.
    #  stages: [commit]
    #  entry: ament_copyright
    #  language: system
    - id: ament_xmllint
      name: ament_xmllint
      description: Static code analysis of xml files.
      stages: [commit]
      entry: ament_xmllint
      language: system
      files: \.(xml)$
    - id: ament_flake8
      name: ament_flake8
      description: Static code analysis of Python files with flake8.
      stages: [commit]
      entry: ament_flake8
      language: system
      files: \.(py)$
      args: ["--config=./.flake8"]
    - id: ament_pep257
      name: ament_pep257
      description: Static code analysis of Python files with pep257.
      stages: [commit]
      entry: ament_pep257
      language: system
      files: \.(py)$
    - id: ament_lint_cmake
      name: ament_lint_cmake
      description: Check format of CMakeLists.txt files.
      stages: [commit]
      entry: ament_lint_cmake
      language: system
      files: CMakeLists\.txt$

Port node.py
  ros_bt_py/ros_bt_py/node.py
Due: ament_flake8, ament_pep257

Port node_config.py
  ros_bt_py/ros_bt_py/node_config.py
Due: ament_flake8, ament_pep257

Port node_data.py
  ros_bt_py/ros_bt_py/node_data.py
  ros_bt_py_interfaces/CMakeLists.txt
Due: ament_flake8, ament_pep257, ament_lint_cmake

Fix code style issues.
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/node_config.py
  ros_bt_py/ros_bt_py/node_data.py
Due: ament_flake8, ament_pep257

Port debug_manager.py
  ros_bt_py/ros_bt_py/debug_manager.py
Due: ament_flake8, ament_pep257

Try importing each submodule from ros_bt_py
  ros_bt_py/test/import_test.py
Due: ament_flake8, ament_pep257

Fix node import
  ros_bt_py/ros_bt_py/debug_manager.py
Due: ament_flake8, ament_pep257

Port package_manager.py
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py_interfaces/msg/Message.msg
  ros_bt_py_interfaces/msg/Packages.msg
  ros_bt_py_interfaces/srv/SaveTree.srv
Due: ament_flake8, ament_pep257

Add tests for package_manager.py
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/setup.py
  ros_bt_py/test/import_test.py
  ros_bt_py/test/test_package_manager.py
Due: ament_xmllint, ament_flake8, ament_pep257

Remove test parameter that is ros2 version dependent.
  ros_bt_py/package.xml
  ros_bt_py/test/test_package_manager.py
Due: ament_xmllint, ament_flake8, ament_pep257

Fix toml error in CI.
  .gitlab-ci.yml
Due: none

Fix pyproject.toml
  pyproject.toml
Due: none

Port tree_node.py
  ros_bt_py/scripts/tree_node.py
Due: ament_flake8, ament_pep257

Port tree_manager.py
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_xmllint, ament_flake8, ament_pep257

Add .coverage to gitignore
  .gitignore
Due: none

Fix type errors.
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/scripts/tree_node.py
Due: ament_xmllint, ament_flake8, ament_pep257

Make tree node executable.
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py/setup.py
Due: ament_flake8, ament_pep257

Fix parameter loading and add launchfile.
  ros_bt_py/launch/ros_bt_py.launch.xml
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py/setup.py
Due: ament_xmllint, ament_flake8, ament_pep257

Switch to generate_parameter_library
  ros_bt_py/config/tree_node_parameters.yaml
  ros_bt_py/launch/ros_bt_py.launch.xml
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py/setup.py
Due: ament_xmllint, ament_flake8, ament_pep257

Fix service callback signatures in package_manager.
  ros_bt_py/ros_bt_py/package_manager.py
Due: ament_flake8, ament_pep257

Add upstream workspace for generate_parameter_library
  .gitlab-ci.yml
  upstream_workspace.yaml
Due: none

Add upstream workspace for generate_parameter_library
  upstream_workspace.yaml
Due: none

Configure pytest to respect generated code.
  .gitignore
  ros_bt_py/.coveragerc
  ros_bt_py/pyproject.toml
  ros_bt_py/setup.py
  ros_bt_py/src/ros_bt_py/__init__.py
  ros_bt_py/src/ros_bt_py/debug_manager.py
  ros_bt_py/src/ros_bt_py/exceptions.py
  ros_bt_py/src/ros_bt_py/helpers.py
  ros_bt_py/src/ros_bt_py/node.py
  ros_bt_py/src/ros_bt_py/node_config.py
  ros_bt_py/src/ros_bt_py/node_data.py
  ros_bt_py/src/ros_bt_py/package_manager.py
  ros_bt_py/src/ros_bt_py/ros_helpers.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/src/ros_bt_py/tree_node.py
  ros_bt_py/tests/__init__.py
  ros_bt_py/tests/test_import.py
  ros_bt_py/tests/test_package_manager.py
Due: ament_flake8, ament_pep257

Fix pipeline test reporting.
  .gitlab-ci.yml
Due: none

Add web_gui to ros_bt_py launch file.
  ros_bt_py/launch/ros_bt_py.launch.py
  ros_bt_py/launch/ros_bt_py.launch.xml
  ros_bt_py/package.xml
Due: ament_xmllint, ament_flake8, ament_pep257

Fix CI errors for web_gui.
  ros_bt_py/pyproject.toml
  ros_bt_py_web_gui/CMakeLists.txt
Due: ament_lint_cmake

Switch to fix_coverage_eos2 CI branch.
  .gitlab-ci.yml
Due: none

Switch to master ci_scripts branch.
  .gitlab-ci.yml
Due: none

Add ros_node reference to Node instances
  ros_bt_py/src/ros_bt_py/node.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Port service nodes
  ros_bt_py/setup.py
  ros_bt_py/src/ros_bt_py/node.py
  ros_bt_py/src/ros_bt_py/ros_nodes/__init__.py
  ros_bt_py/src/ros_bt_py/ros_nodes/service.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Add tests for ServiceInput
  ros_bt_py/pyproject.toml
  ros_bt_py/tests/ros_nodes/__init__.py
  ros_bt_py/tests/ros_nodes/test_service_input.py
Due: ament_flake8, ament_pep257

Update ci config
  .gitlab-ci.yml
Due: none

Add tests for Service node
  ros_bt_py/src/ros_bt_py/ros_nodes/service.py
  ros_bt_py/tests/ros_nodes/test_service.py
Due: ament_flake8, ament_pep257

Enable reports for test coverage
  .gitlab-ci.yml
Due: none

Use relative paths in coberatura CI report.
  .gitlab-ci.yml
Due: none

Add tests for wait_for_service nodes
  ros_bt_py/src/ros_bt_py/ros_nodes/service.py
  ros_bt_py/tests/ros_nodes/test_wait_for_service.py
  ros_bt_py/tests/ros_nodes/test_wait_for_service_input.py
Due: ament_flake8, ament_pep257

Change code coverage report file paths
  .gitlab-ci.yml
Due: none
