Repository fzi-forschungszentrum-informatik/ros2_ros_bt_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
        exclude: ((trees/)|(html/))
      - id: end-of-file-fixer
        exclude: ((trees/)|(html/)|(testdata/))
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ((trees/)|(html/)|(testdata/))
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: fix-byte-order-marker  # Forbid UTF-8 byte-order markers
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: local
    hooks:
    #- id: ament_copyright
    #  name: ament_copyright
    #  description: Check if copyright notice is available in all files.
    #  stages: [commit]
    #  entry: ament_copyright
    #  language: system
    - id: ament_xmllint
      name: ament_xmllint
      description: Static code analysis of xml files.
      stages: [commit]
      entry: ament_xmllint
      language: system
      files: \.(xml)$
    - id: ament_flake8
      name: ament_flake8
      description: Static code analysis of Python files with flake8.
      stages: [commit]
      entry: ament_flake8
      language: system
      files: \.(py)$
      args: ["--config=./.flake8"]
    - id: ament_pep257
      name: ament_pep257
      description: Static code analysis of Python files with pep257.
      stages: [commit]
      entry: ament_pep257
      language: system
      files: \.(py)$
    - id: ament_lint_cmake
      name: ament_lint_cmake
      description: Check format of CMakeLists.txt files.
      stages: [commit]
      entry: ament_lint_cmake
      language: system
      files: CMakeLists\.txt$

Remove commented out code
  ros_bt_py/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

Added tests for action node
  ros_bt_py/tests/ros_nodes/test_action.py
Due: ament_flake8, ament_pep257

Corrected import path
  ros_bt_py/tests/ros_nodes/test_action.py
Due: ament_flake8, ament_pep257

Updated package.xml and CMakeLists.txt
  ros_bt_py/package.xml
  ros_bt_py_interfaces/CMakeLists.txt
Due: ament_xmllint, ament_lint_cmake

fix mock usage
  ros_bt_py/tests/ros_nodes/test_action.py
Due: ament_flake8, ament_pep257

Add set_state function to ensure valid state tran.
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Remove top-level exception catching.
  ros_bt_py/ros_bt_py/tree_node.py
Due: ament_flake8, ament_pep257

Fix missing check for feedback in action node.
  ros_bt_py/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

remove clutter from message fields
  ros_bt_py/ros_bt_py/package_manager.py
Due: ament_flake8, ament_pep257

Fix undeclared state variable in action node.
  ros_bt_py/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

Added time module and TimeNow Node
  ros_bt_py/ros_bt_py/ros_nodes/time.py
Due: ament_flake8, ament_pep257

Update message_fields to remove extra keys and include types
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py_interfaces/srv/GetMessageFields.srv
Due: ament_flake8, ament_pep257

Updated CHANGELOG
  CHANGELOG.md
Due: none

Remove verbose logging.
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Remove Client import in action.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

Remove unneeded passthrough parameter.
  ros_bt_py/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

Fix invalid usage of self.tree.state
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Remove _setting_up variable.
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Cleanly shut down tree node.
  ros_bt_py/ros_bt_py/tree_node.py
Due: ament_flake8, ament_pep257

Update changelog.
  CHANGELOG.md
Due: none

Added time module to changelog
  CHANGELOG.md
Due: none

Added clarification on GetAttr usage
  ros_bt_py/ros_bt_py/nodes/getters.py
Due: ament_flake8, ament_pep257

Added custom launch documentation
  ros_bt_py/doc/source/index.rst
  ros_bt_py/doc/source/using_custom_node_classes.rst
Due: none

Updated landing page
  ros_bt_py/doc/source/index.rst
Due: none

Switch node from Exceptions to Result types.
  ros_bt_py/ros_bt_py/node.py
Due: ament_flake8, ament_pep257

Fix issues with @typechecked annotation in node.py
  ros_bt_py/ros_bt_py/node.py
Due: ament_flake8, ament_pep257

Switch tree_manager from exceptions to result types.
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Switch tree node from exceptions to result types.
  ros_bt_py/ros_bt_py/tree_node.py
Due: ament_flake8, ament_pep257

Switch subtree manager from exceptions to result types.
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py/tests/test_subtree_manager.py
Due: ament_flake8, ament_pep257

Update CI for new requirement.
  .github/workflows/industrial_ci.yml
Due: none

Switch to MultiThreadedExecutor.
  ros_bt_py/ros_bt_py/nodes/compare.py
  ros_bt_py/ros_bt_py/tree_node.py
Due: ament_flake8, ament_pep257
