Repository fzi-forschungszentrum-informatik/ros2_ros_bt_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        exclude: ((trees/)|(html/))
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
        exclude: ((trees/)|(html/))
      - id: end-of-file-fixer
        exclude: ((trees/)|(html/)|(testdata/))
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ((trees/)|(html/)|(testdata/))
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: fix-byte-order-marker  # Forbid UTF-8 byte-order markers
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
    - id: ament_copyright
      name: ament_copyright
      description: Check if copyright notice is available in all files.
      stages: [commit]
      entry: ament_copyright
      language: system
    - id: ament_xmllint
      name: ament_xmllint
      description: Static code analysis of xml files.
      stages: [commit]
      entry: ament_xmllint
      language: system
      files: \.(xml)$
    - id: ament_flake8
      name: ament_flake8
      description: Static code analysis of Python files with flake8.
      stages: [commit]
      entry: ament_flake8
      language: system
      files: \.(py)$
      args: ["--config=./.flake8"]
    - id: ament_pep257
      name: ament_pep257
      description: Static code analysis of Python files with pep257.
      stages: [commit]
      entry: ament_pep257
      language: system
      files: \.(py)$
    - id: ament_lint_cmake
      name: ament_lint_cmake
      description: Check format of CMakeLists.txt files.
      stages: [commit]
      entry: ament_lint_cmake
      language: system
      files: CMakeLists\.txt$
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    - id: remove-tabs
      exclude: |
        (?x)(
          html/|
          Makefile
        )
    - id: forbid-tabs
      exclude: |
        (?x)(
          html/|
          Makefile
        )

Update Web-GUI to 7.0.1
  ros_bt_py_web_gui/html/assets/index-BbadyXD0.js
  ros_bt_py_web_gui/html/assets/index-C3XDYGxl.css
  ros_bt_py_web_gui/html/assets/index-DK35AWwl.js
  ros_bt_py_web_gui/html/index.html
Due: none

Update Web-GUI to 7.0.1 (#235)
  ros_bt_py_web_gui/html/assets/index-BbadyXD0.js
  ros_bt_py_web_gui/html/assets/index-C3XDYGxl.css
  ros_bt_py_web_gui/html/assets/index-DK35AWwl.js
  ros_bt_py_web_gui/html/index.html
Due: none

Respin executor on InvalidHandle
  ros_bt_py/ros_bt_py/tree_node.py
Due: ament_flake8, ament_pep257

Add result library.
  THIRD_PARTY_NOTICE
  ros_bt_py/ros_bt_py/vendor/__init__.py
  ros_bt_py/ros_bt_py/vendor/result/LICENSE
  ros_bt_py/ros_bt_py/vendor/result/__init__.py
  ros_bt_py/ros_bt_py/vendor/result/py.typed
  ros_bt_py/ros_bt_py/vendor/result/result.py
Due: ament_flake8, ament_pep257

Switch to vendor result.
  ros_bt_py/ros_bt_py/migrate_tree_files.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/node_config.py
  ros_bt_py/ros_bt_py/node_data.py
  ros_bt_py/ros_bt_py/nodes/compare.py
  ros_bt_py/ros_bt_py/nodes/constant.py
  ros_bt_py/ros_bt_py/nodes/decorators.py
  ros_bt_py/ros_bt_py/nodes/fallback.py
  ros_bt_py/ros_bt_py/nodes/format.py
  ros_bt_py/ros_bt_py/nodes/getters.py
  ros_bt_py/ros_bt_py/nodes/io.py
  ros_bt_py/ros_bt_py/nodes/list.py
  ros_bt_py/ros_bt_py/nodes/maths.py
  ros_bt_py/ros_bt_py/nodes/parallel.py
  ros_bt_py/ros_bt_py/nodes/passthrough_node.py
  ros_bt_py/ros_bt_py/nodes/random_number.py
  ros_bt_py/ros_bt_py/nodes/sequence.py
  ros_bt_py/ros_bt_py/nodes/setters.py
  ros_bt_py/ros_bt_py/nodes/wait.py
  ros_bt_py/ros_bt_py/ros_helpers.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/enum.py
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
  ros_bt_py/ros_bt_py/ros_nodes/file.py
  ros_bt_py/ros_bt_py/ros_nodes/message_converters.py
  ros_bt_py/ros_bt_py/ros_nodes/messages_from_dict.py
  ros_bt_py/ros_bt_py/ros_nodes/param.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/ros_nodes/throttle.py
  ros_bt_py/ros_bt_py/ros_nodes/time.py
  ros_bt_py/ros_bt_py/ros_nodes/topic.py
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/setup.py
  ros_bt_py/tests/nodes/test_fallback.py
  ros_bt_py/tests/nodes/test_parallel.py
  ros_bt_py/tests/nodes/test_sequence.py
Due: ament_flake8, ament_pep257

Remove dependency.
  ros_bt_py/package.xml
Due: ament_xmllint

Fix formatting.
  .pre-commit-config.yaml
  ros_bt_py/ros_bt_py/vendor/result/__init__.py
  ros_bt_py/ros_bt_py/vendor/result/result.py
Due: ament_flake8, ament_pep257

Fix imports test to deal with nested packages.
  ros_bt_py/tests/test_import.py
Due: ament_flake8, ament_pep257

Add typing extensions dependency.
  ros_bt_py/package.xml
Due: ament_xmllint

Remove typing_extensiosn.
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/vendor/result/result.py
Due: ament_xmllint, ament_flake8, ament_pep257

Respin executor on InvalidHandle (#238)
  ros_bt_py/ros_bt_py/tree_node.py
Due: ament_flake8, ament_pep257

Add a migration step to remove broken defaults
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/migrate_tree_files.py
Due: ament_xmllint, ament_flake8, ament_pep257

Do not persist serialized values
  ros_bt_py/ros_bt_py/node_data.py
Due: ament_flake8, ament_pep257

Remove implicit persistent migrations, fail if subtree is not sufficiently migrated
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/migrate_tree_files.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/trees/enum_switch_test_broken.yaml
  ros_bt_py/trees/enum_switch_test_fail.yaml
  ros_bt_py/trees/enum_switch_test_success.yaml
  ros_bt_py/trees/pub_sub_test.yaml
  ros_bt_py_interfaces/srv/LoadTree.srv
  ros_bt_py_interfaces/srv/LoadTreeFromPath.srv
Due: ament_xmllint, ament_flake8, ament_pep257

Add inplace option, expand check on subtrees
  ros_bt_py/ros_bt_py/migrate_tree_files.py
Due: ament_flake8, ament_pep257

Update test trees
  ros_bt_py/trees/double_nested_five_pub_sub_test.yaml
  ros_bt_py/trees/enum_switch_test_broken.yaml
  ros_bt_py/trees/enum_switch_test_fail.yaml
  ros_bt_py/trees/enum_switch_test_success.yaml
  ros_bt_py/trees/nested_five_pub_sub_test.yaml
  ros_bt_py/trees/pub_sub_test.yaml
Due: none

Fix node options with complex types (#244)
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/migrate_tree_files.py
  ros_bt_py/ros_bt_py/node_data.py
Due: ament_xmllint, ament_flake8, ament_pep257

Do not persist serialized values (#245)
  ros_bt_py/ros_bt_py/node_data.py
Due: ament_flake8, ament_pep257

Update Web-GUI to 7.1.0
  ros_bt_py_web_gui/html/assets/index-DK35AWwl.js
  ros_bt_py_web_gui/html/assets/index-cOhpArHi.js
  ros_bt_py_web_gui/html/index.html
Due: none

Update Web-GUI to 7.1.0 (#246)
  ros_bt_py_web_gui/html/assets/index-DK35AWwl.js
  ros_bt_py_web_gui/html/assets/index-cOhpArHi.js
  ros_bt_py_web_gui/html/index.html
Due: none

Enable publish subtrees by default
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py/tests/test_subtree_manager.py
Due: ament_flake8, ament_pep257

Subtree IO use node ids (#247)
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/migrate_tree_files.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/tests/ros_nodes/test_action.py
  ros_bt_py/tests/test_subtree_manager.py
  ros_bt_py/trees/double_nested_five_pub_sub_test.yaml
  ros_bt_py/trees/enum_switch_test_broken.yaml
  ros_bt_py/trees/enum_switch_test_fail.yaml
  ros_bt_py/trees/enum_switch_test_success.yaml
  ros_bt_py/trees/nested_five_pub_sub_test.yaml
  ros_bt_py/trees/pub_sub_test.yaml
Due: ament_xmllint, ament_flake8, ament_pep257

Update topic node tests
  ros_bt_py/package.xml
  ros_bt_py/pyproject.toml
  ros_bt_py/tests/integration/ros_nodes_isolation/test_topic_memory_subscribe.py
  ros_bt_py/tests/integration/ros_nodes_isolation/test_topic_publish.py
  ros_bt_py/tests/integration/ros_nodes_isolation/test_topic_subscribe.py
  ros_bt_py/trees/ros_nodes_isolation/topic_memory_subscribe.yaml
  ros_bt_py/trees/ros_nodes_isolation/topic_publish.yaml
  ros_bt_py/trees/ros_nodes_isolation/topic_subscribe.yaml
Due: ament_xmllint, ament_flake8, ament_pep257

Minor updates and fixes
  ros_bt_py/ros_bt_py/data_types.py
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/tree_edit_manager.py
  ros_bt_py/ros_bt_py/tree_exec_manager.py
Due: ament_flake8, ament_pep257

Remove outdated unit tests and test trees
  ros_bt_py/tests/nodes/__init__.py
  ros_bt_py/tests/nodes/test_fallback.py
  ros_bt_py/tests/nodes/test_parallel.py
  ros_bt_py/tests/nodes/test_sequence.py
  ros_bt_py/tests/nodes/test_wait.py
  ros_bt_py/tests/ros_nodes/__init__.py
  ros_bt_py/tests/ros_nodes/test_action.py
  ros_bt_py/tests/ros_nodes/test_enum_fields.py
  ros_bt_py/tests/ros_nodes/test_enum_switch.py
  ros_bt_py/tests/ros_nodes/test_fields_to_message.py
  ros_bt_py/tests/ros_nodes/test_message_from_dict.py
  ros_bt_py/tests/ros_nodes/test_message_from_dict_const.py
  ros_bt_py/tests/ros_nodes/test_message_to_fields.py
  ros_bt_py/tests/ros_nodes/test_ros_param_input.py
  ros_bt_py/tests/ros_nodes/test_ros_param_option.py
  ros_bt_py/tests/ros_nodes/test_ros_param_option_default_input.py
  ros_bt_py/tests/ros_nodes/test_service.py
  ros_bt_py/tests/ros_nodes/test_service_input.py
  ros_bt_py/tests/ros_nodes/test_wait_for_service.py
  ros_bt_py/tests/ros_nodes/test_wait_for_service_input.py
  ros_bt_py/trees/double_nested_five_pub_sub_test.yaml
  ros_bt_py/trees/enum_switch_test_broken.yaml
  ros_bt_py/trees/enum_switch_test_fail.yaml
  ros_bt_py/trees/enum_switch_test_success.yaml
  ros_bt_py/trees/nested_five_pub_sub_test.yaml
  ros_bt_py/trees/pub_sub_test.yaml
Due: ament_flake8, ament_pep257

Fix data type equals
  ros_bt_py/ros_bt_py/data_types.py
  ros_bt_py/tests/test_node_config.py
Due: ament_flake8, ament_pep257

Remove usage of typing.Self for compatibility with python 3.10
  ros_bt_py/ros_bt_py/data_types.py
Due: ament_flake8, ament_pep257

Add tests for Sequence node, update test dependencies
  ros_bt_py/ros_bt_py/data_types.py
  ros_bt_py/setup.py
  ros_bt_py/tests/integration/conftest.py
  ros_bt_py/tests/integration/flow_control_isolation/conftest.py
  ros_bt_py/tests/integration/flow_control_isolation/test_sequence.py
  ros_bt_py/tests/integration/ros_nodes_isolation/test_topic_publish.py
  ros_bt_py/tests/integration/ros_nodes_isolation/test_topic_subscribe.py
  ros_bt_py/tests/test_subtree_manager.py
  ros_bt_py/trees/flow_control_isolation/sequence.yaml
Due: ament_flake8, ament_pep257

Add tests for MemorySequence
  ros_bt_py/tests/integration/flow_control_isolation/conftest.py
  ros_bt_py/tests/integration/flow_control_isolation/test_memory_sequence.py
  ros_bt_py/trees/flow_control_isolation/memory_sequence.yaml
Due: ament_flake8, ament_pep257

Add data flow test
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/tests/test_data_flow_manager.py
Due: ament_flake8, ament_pep257
