Repository fzi-forschungszentrum-informatik/ros2_ros_bt_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        exclude: ((trees/)|(html/))
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
        exclude: ((trees/)|(html/))
      - id: end-of-file-fixer
        exclude: ((trees/)|(html/)|(testdata/))
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ((trees/)|(html/)|(testdata/))
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: fix-byte-order-marker  # Forbid UTF-8 byte-order markers
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
    - id: ament_copyright
      name: ament_copyright
      description: Check if copyright notice is available in all files.
      stages: [commit]
      entry: ament_copyright
      language: system
    - id: ament_xmllint
      name: ament_xmllint
      description: Static code analysis of xml files.
      stages: [commit]
      entry: ament_xmllint
      language: system
      files: \.(xml)$
    - id: ament_flake8
      name: ament_flake8
      description: Static code analysis of Python files with flake8.
      stages: [commit]
      entry: ament_flake8
      language: system
      files: \.(py)$
      args: ["--config=./.flake8"]
    - id: ament_pep257
      name: ament_pep257
      description: Static code analysis of Python files with pep257.
      stages: [commit]
      entry: ament_pep257
      language: system
      files: \.(py)$
    - id: ament_lint_cmake
      name: ament_lint_cmake
      description: Check format of CMakeLists.txt files.
      stages: [commit]
      entry: ament_lint_cmake
      language: system
      files: CMakeLists\.txt$
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    - id: remove-tabs
      exclude: |
        (?x)(
          html/|
          Makefile
        )
    - id: forbid-tabs
      exclude: |
        (?x)(
          html/|
          Makefile
        )

Remove orig file
  ros_bt_py/ros_bt_py/tree_manager.py.orig
Due: none

Move functionality to setup
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Update returns
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Update to 0.5.x
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Swapped NodeMsg for NodeState
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Raise ValueError to give user feedback
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Update tests
  ros_bt_py/tests/ros_nodes/test_enum_switch.py
Due: ament_flake8, ament_pep257

Switched init behavior to not throw an exception
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Catch ValueError to avoid crash
  ros_bt_py/ros_bt_py/tree_manager.py.orig
Due: none

Added first version of node
  ros_bt_py/ros_bt_py/ros_nodes/__init__.py
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Added init tests
  ros_bt_py/tests/ros_nodes/test_enum_switch.py
Due: ament_flake8, ament_pep257

Fix return statements
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Now reacts to Enum Type
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Fix Exception catch
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Fixup init method and check if input is there
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Add tests for EnumSwitch
  ros_bt_py/tests/integration/test_enum_switch.py
  ros_bt_py/trees/enum_switch_test_broken.yaml
  ros_bt_py/trees/enum_switch_test_fail.yaml
  ros_bt_py/trees/enum_switch_test_success.yaml
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/EnumTest.msg
Due: ament_flake8, ament_pep257, ament_lint_cmake

Strip "__name__" attribute from serialized TypeWrappers
  ros_bt_py/ros_bt_py/migrate_tree_files.py
Due: ament_flake8, ament_pep257

Strip "__name__" attribute from serialized TypeWrappers (#227)
  ros_bt_py/ros_bt_py/migrate_tree_files.py
Due: ament_flake8, ament_pep257

Fix tests
  ros_bt_py/tests/integration/test_enum_switch.py
  ros_bt_py/tests/ros_nodes/test_enum_switch.py
Due: ament_flake8, ament_pep257

Extended tests to explicitly check node states
  ros_bt_py/tests/integration/conftest.py
  ros_bt_py/tests/integration/test_enum_switch.py
Due: ament_flake8, ament_pep257

Modify feature request template structure
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
Due: none

Modify bug report template to remove default labels
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Due: none

Add assignees field to feature request template
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
Due: none

Update BUG-REPORT.yml to include assignees
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Due: none

Update issue templates (#229)
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
Due: none

Update issue templates.
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
Due: none

Don't construct implicit logging manager in node class
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Update tests to use and test custom logging
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
  ros_bt_py/tests/conftest.py
  ros_bt_py/tests/nodes/test_fallback.py
  ros_bt_py/tests/nodes/test_parallel.py
  ros_bt_py/tests/nodes/test_sequence.py
  ros_bt_py/tests/nodes/test_wait.py
  ros_bt_py/tests/ros_nodes/test_action.py
  ros_bt_py/tests/ros_nodes/test_enum_fields.py
  ros_bt_py/tests/ros_nodes/test_fields_to_message.py
  ros_bt_py/tests/ros_nodes/test_message_from_dict.py
  ros_bt_py/tests/ros_nodes/test_message_from_dict_const.py
  ros_bt_py/tests/ros_nodes/test_message_to_fields.py
  ros_bt_py/tests/ros_nodes/test_ros_param_input.py
  ros_bt_py/tests/ros_nodes/test_ros_param_option.py
  ros_bt_py/tests/ros_nodes/test_ros_param_option_default_input.py
  ros_bt_py/tests/ros_nodes/test_service.py
  ros_bt_py/tests/ros_nodes/test_service_input.py
  ros_bt_py/tests/ros_nodes/test_wait_for_service.py
  ros_bt_py/tests/ros_nodes/test_wait_for_service_input.py
Due: ament_flake8, ament_pep257

Use warning classes through fixture not import
  ros_bt_py/tests/conftest.py
  ros_bt_py/tests/ros_nodes/test_action.py
  ros_bt_py/tests/ros_nodes/test_message_from_dict.py
  ros_bt_py/tests/ros_nodes/test_message_from_dict_const.py
  ros_bt_py/tests/ros_nodes/test_ros_param_input.py
  ros_bt_py/tests/ros_nodes/test_ros_param_option.py
  ros_bt_py/tests/ros_nodes/test_ros_param_option_default_input.py
  ros_bt_py/tests/ros_nodes/test_service.py
  ros_bt_py/tests/ros_nodes/test_service_input.py
  ros_bt_py/tests/ros_nodes/test_wait_for_service.py
  ros_bt_py/tests/ros_nodes/test_wait_for_service_input.py
Due: ament_flake8, ament_pep257

Add server-side log level settings
  ros_bt_py/ros_bt_py/logging_manager.py
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/srv/SetLogLevel.srv
Due: ament_flake8, ament_pep257, ament_lint_cmake

Add Enum Switch Node (#183)
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
  ros_bt_py/tests/integration/conftest.py
  ros_bt_py/tests/integration/test_enum_switch.py
  ros_bt_py/tests/ros_nodes/test_enum_switch.py
  ros_bt_py/trees/enum_switch_test_broken.yaml
  ros_bt_py/trees/enum_switch_test_fail.yaml
  ros_bt_py/trees/enum_switch_test_success.yaml
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/EnumTest.msg
Due: ament_flake8, ament_pep257, ament_lint_cmake

Provide enhanced logging functionality (#230)
  ros_bt_py/package.xml
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/logging_manager.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/nodes/getters.py
  ros_bt_py/ros_bt_py/nodes/io.py
  ros_bt_py/ros_bt_py/nodes/list.py
  ros_bt_py/ros_bt_py/nodes/maths.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/enum.py
  ros_bt_py/ros_bt_py/ros_nodes/message_converters.py
  ros_bt_py/ros_bt_py/ros_nodes/messages_from_dict.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/ros_nodes/topic.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py/tests/conftest.py
  ros_bt_py/tests/nodes/test_fallback.py
  ros_bt_py/tests/nodes/test_parallel.py
  ros_bt_py/tests/nodes/test_sequence.py
  ros_bt_py/tests/nodes/test_wait.py
  ros_bt_py/tests/ros_nodes/test_action.py
  ros_bt_py/tests/ros_nodes/test_enum_fields.py
  ros_bt_py/tests/ros_nodes/test_fields_to_message.py
  ros_bt_py/tests/ros_nodes/test_message_from_dict.py
  ros_bt_py/tests/ros_nodes/test_message_from_dict_const.py
  ros_bt_py/tests/ros_nodes/test_message_to_fields.py
  ros_bt_py/tests/ros_nodes/test_ros_param_input.py
  ros_bt_py/tests/ros_nodes/test_ros_param_option.py
  ros_bt_py/tests/ros_nodes/test_ros_param_option_default_input.py
  ros_bt_py/tests/ros_nodes/test_service.py
  ros_bt_py/tests/ros_nodes/test_service_input.py
  ros_bt_py/tests/ros_nodes/test_wait_for_service.py
  ros_bt_py/tests/ros_nodes/test_wait_for_service_input.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/BTLogMessage.msg
  ros_bt_py_interfaces/package.xml
  ros_bt_py_interfaces/srv/SetLogLevel.srv
Due: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

Update Web-GUI to 7.0.0
  ros_bt_py_web_gui/html/assets/fontawesome-D1TAZLZx.js
  ros_bt_py_web_gui/html/assets/fontawesome-DMP4n0Su.js
  ros_bt_py_web_gui/html/assets/index-BYDhrQq4.css
  ros_bt_py_web_gui/html/assets/index-BbadyXD0.js
  ros_bt_py_web_gui/html/assets/index-DwYpfYRn.js
  ros_bt_py_web_gui/html/assets/vue-extras-BCcUetX7.js
  ros_bt_py_web_gui/html/assets/vue-extras-NKW5yYOm.js
  ros_bt_py_web_gui/html/index.html
Due: none

Update Web-GUI to 7.0.0 (#231)
  ros_bt_py_web_gui/html/assets/fontawesome-D1TAZLZx.js
  ros_bt_py_web_gui/html/assets/fontawesome-DMP4n0Su.js
  ros_bt_py_web_gui/html/assets/index-BYDhrQq4.css
  ros_bt_py_web_gui/html/assets/index-BbadyXD0.js
  ros_bt_py_web_gui/html/assets/index-DwYpfYRn.js
  ros_bt_py_web_gui/html/assets/vue-extras-BCcUetX7.js
  ros_bt_py_web_gui/html/assets/vue-extras-NKW5yYOm.js
  ros_bt_py_web_gui/html/index.html
Due: none

Decouple subtree id from node id
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py_interfaces/msg/NodeStructure.msg
Due: ament_flake8, ament_pep257

Fix EnumSwitch init
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Update tests, add test case for duplicate subtrees
  ros_bt_py/tests/integration/conftest.py
  ros_bt_py/tests/integration/test_enum_switch.py
  ros_bt_py/tests/integration/test_multiple_subtrees.py
  ros_bt_py/trees/double_nested_five_pub_sub_test.yaml
  ros_bt_py/trees/nested_five_pub_sub_test.yaml
Due: ament_flake8, ament_pep257

Decouple subtree ids from node ids (#232)
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/subtree_manager.py
  ros_bt_py/tests/integration/conftest.py
  ros_bt_py/tests/integration/test_enum_switch.py
  ros_bt_py/tests/integration/test_multiple_subtrees.py
  ros_bt_py/trees/double_nested_five_pub_sub_test.yaml
  ros_bt_py/trees/nested_five_pub_sub_test.yaml
  ros_bt_py_interfaces/msg/NodeStructure.msg
Due: ament_flake8, ament_pep257
