Repository fzi-forschungszentrum-informatik/ros2_ros_bt_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
        exclude: ((trees/)|(html/))
      - id: end-of-file-fixer
        exclude: ((trees/)|(html/)|(testdata/))
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ((trees/)|(html/)|(testdata/))
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: fix-byte-order-marker  # Forbid UTF-8 byte-order markers
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: local
    hooks:
    #- id: ament_copyright
    #  name: ament_copyright
    #  description: Check if copyright notice is available in all files.
    #  stages: [commit]
    #  entry: ament_copyright
    #  language: system
    - id: ament_xmllint
      name: ament_xmllint
      description: Static code analysis of xml files.
      stages: [commit]
      entry: ament_xmllint
      language: system
      files: \.(xml)$
    - id: ament_flake8
      name: ament_flake8
      description: Static code analysis of Python files with flake8.
      stages: [commit]
      entry: ament_flake8
      language: system
      files: \.(py)$
      args: ["--config=./.flake8"]
    - id: ament_pep257
      name: ament_pep257
      description: Static code analysis of Python files with pep257.
      stages: [commit]
      entry: ament_pep257
      language: system
      files: \.(py)$
    - id: ament_lint_cmake
      name: ament_lint_cmake
      description: Check format of CMakeLists.txt files.
      stages: [commit]
      entry: ament_lint_cmake
      language: system
      files: CMakeLists\.txt$

Added test cases for helpers.py
  ros_bt_py/tests/test_helpers.py
Due: ament_flake8, ament_pep257

Removed fix_yaml
  ros_bt_py/src/ros_bt_py/helpers.py
  ros_bt_py/src/ros_bt_py/package_manager.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/src/ros_bt_py/tree_node.py
  ros_bt_py/tests/ros_nodes/test_message_from_dict.py
  ros_bt_py/tests/ros_nodes/test_message_from_dict_const.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/srv/FixYaml.srv
Due: ament_flake8, ament_pep257, ament_lint_cmake

Added test for ros_helpers.py
  ros_bt_py/tests/test_ros_helpers.py
Due: ament_flake8, ament_pep257

Added tests for debug_manager to test subtree state
  ros_bt_py/tests/test_debug_manager.py
Due: ament_flake8, ament_pep257

Add github workflow and issue templates
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/workflows/industrial_ci.yml
Due: none

Fix ci configuration.
  .github/workflows/industrial_ci.yml
  ros_bt_py/package.xml
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/package.xml
Due: ament_xmllint, ament_lint_cmake

Fix missing package.xml dependencies.
  .github/workflows/industrial_ci.yml
  ros_bt_py/package.xml
Due: ament_xmllint

Add coverage reporting.
  .github/workflows/industrial_ci.yml
Due: none

Fix github variable problem.
  .github/workflows/industrial_ci.yml
Due: none

Fix github variables error
  .github/workflows/industrial_ci.yml
Due: none

Update industrial_ci.yml
  .github/workflows/industrial_ci.yml
Due: none

Add codecov github action
  .github/workflows/industrial_ci.yml
Due: none

Update Readme.
  .github/workflows/industrial_ci.yml
  README.md
Due: none

Only upload single test report and tag code coverage
  .github/workflows/industrial_ci.yml
Due: none

Add Github Actions CI (#48)
  .github/workflows/industrial_ci.yml
  README.md
Due: none

Add sphinx doc build job.
  .github/workflows/sphinx_doc.yml
Due: none

Add missing dependency
  .github/workflows/sphinx_doc.yml
  ros_bt_py/package.xml
Due: ament_xmllint

Add missing theme dependency/
  .github/workflows/sphinx_doc.yml
Due: none

Add documentation link to README.
  .github/workflows/sphinx_doc.yml
  README.md
Due: none

Remove dependencies that are not covered by rosdep
  ros_bt_py/package.xml
Due: ament_xmllint

Moved subtree manager from debug manager to another class
  ros_bt_py/src/ros_bt_py/debug_manager.py
  ros_bt_py/src/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/src/ros_bt_py/subtree_manager.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/tests/test_debug_manager.py
  ros_bt_py/tests/test_subtree_manager.py
Due: ament_flake8, ament_pep257

Added new SubtreeInfo Topic
  ros_bt_py/src/ros_bt_py/subtree_manager.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/tests/test_subtree_manager.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/SubtreeInfo.msg
Due: ament_flake8, ament_pep257, ament_lint_cmake

Added subtree manager to all nodes
  ros_bt_py/src/ros_bt_py/node.py
  ros_bt_py/src/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/src/ros_bt_py/subtree_manager.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/src/ros_bt_py/tree_node.py
Due: ament_flake8, ament_pep257

Removed modify_breakpoints
  ros_bt_py/src/ros_bt_py/debug_manager.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/src/ros_bt_py/tree_node.py
Due: ament_flake8, ament_pep257

Added missing copyright text for test classes
  ros_bt_py/tests/test_helpers.py
  ros_bt_py/tests/test_ros_helpers.py
Due: ament_flake8, ament_pep257

Removed debugging functionalities from DebugManager and DebugInfo
  ros_bt_py/src/ros_bt_py/debug_manager.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/src/ros_bt_py/tree_node.py
  ros_bt_py/tests/ros_nodes/test_enum_fields.py
  ros_bt_py/tests/test_package_manager.py
  ros_bt_py/tests/test_ros_helpers.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/DebugInfo.msg
  ros_bt_py_interfaces/msg/DebugSettings.msg
  ros_bt_py_interfaces/msg/DocumentedNode.msg
  ros_bt_py_interfaces/msg/Node.msg
  ros_bt_py_interfaces/msg/Tree.msg
  ros_bt_py_interfaces/srv/Continue.srv
  ros_bt_py_interfaces/srv/SetExecutionMode.srv
Due: ament_flake8, ament_pep257, ament_lint_cmake

replaced SetExecutionMode.srv for setting collect_node_diagnostics in DebugManager and publish_subtrees in SubtreeManager with two seperate services
  ros_bt_py/src/ros_bt_py/debug_manager.py
  ros_bt_py/src/ros_bt_py/subtree_manager.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/src/ros_bt_py/tree_node.py
  ros_bt_py/tests/test_subtree_manager.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/DebugSettings.msg
  ros_bt_py_interfaces/srv/SetExecutionMode.srv
Due: ament_flake8, ament_pep257, ament_lint_cmake
