Repository fzi-forschungszentrum-informatik/ros2_ros_bt_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

ament_xmllint:
  name: ament_xmllint
  description: Static code analysis of xml files.
  stages:
  - commit
  entry: ament_xmllint
  language: system

ament_flake8:
  name: ament_flake8
  description: Static code analysis of Python files with flake8.
  stages:
  - commit
  entry: ament_flake8
  language: system
  args:
  - --config=./.flake8

ament_pep257:
  name: ament_pep257
  description: Static code analysis of Python files with pep257.
  stages:
  - commit
  entry: ament_pep257
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Replaced NodeDiagnostics message with DiagnosticStatus message
  ros_bt_py/src/ros_bt_py/debug_manager.py
  ros_bt_py/src/ros_bt_py/tree_manager.py
  ros_bt_py/src/ros_bt_py/tree_node.py
  ros_bt_py_interfaces/msg/NodeDiagnostics.msg
Due: ament_flake8, ament_pep257

Removed logger information which was temporarily added for debugging purposes
  ros_bt_py/src/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Removed NodeDiagnostics.msg from CmakeLists
  ros_bt_py_interfaces/CMakeLists.txt
Due: ament_lint_cmake

Deleted duplicated conditional statement
  ros_bt_py/src/ros_bt_py/debug_manager.py
Due: ament_flake8, ament_pep257

Added comments
  ros_bt_py/src/ros_bt_py/debug_manager.py
  ros_bt_py/src/ros_bt_py/subtree_manager.py
Due: ament_flake8, ament_pep257

Set all node states to shutdown and tree state to idle when saving a tree
  ros_bt_py/src/ros_bt_py/helpers.py
  ros_bt_py/src/ros_bt_py/package_manager.py
Due: ament_flake8, ament_pep257

Perform unwiring first before removing node
  ros_bt_py/src/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Added basic template for CHANGELOG
  CHANGELOG.md
Due: none

Update Web-GUI to release/2.0.1
  ros_bt_py_web_gui/html/assets/index-38ccda16.js
  ros_bt_py_web_gui/html/assets/index-3b947794.js
  ros_bt_py_web_gui/html/index.html
Due: none

Update Web-GUI to release/2.0.2
  ros_bt_py_web_gui/html/assets/index-38ccda16.js
  ros_bt_py_web_gui/html/assets/index-3b947794.js
  ros_bt_py_web_gui/html/index.html
Due: none

Fix missing parameters in nodes.
  ros_bt_py/src/ros_bt_py/node.py
  ros_bt_py/src/ros_bt_py/node_config.py
  ros_bt_py/src/ros_bt_py/nodes/maths.py
Due: ament_flake8, ament_pep257

Fix invalid subtree creation while saving a tree.
  ros_bt_py/src/ros_bt_py/package_manager.py
  ros_bt_py_interfaces/srv/SaveTree.srv
Due: ament_flake8, ament_pep257

Update version numbers to match changelog.
  ros_bt_py/doc/source/conf.py
  ros_bt_py/package.xml
  ros_bt_py/setup.py
  ros_bt_py_interfaces/package.xml
  ros_bt_py_web_gui/package.xml
Due: ament_xmllint, ament_flake8, ament_pep257

Hotfix: Packages list only ever contained one item
  ros_bt_py/src/ros_bt_py/package_manager.py
Due: ament_flake8, ament_pep257

Fixed Python version
  ros_bt_py_web_gui/scripts/show_editor_url.py
Due: ament_flake8, ament_pep257

Update Web-GUI to release/2.0.3
  ros_bt_py_web_gui/html/assets/index-08fce88f.js
  ros_bt_py_web_gui/html/index.html
Due: none

Updated TOC in all CONTRIBUTING.md files
  CONTRIBUTING.md
  ros_bt_py/CONTRIBUTING.md
  ros_bt_py_interfaces/CONTRIBUTING.md
  ros_bt_py_web_gui/CONTRIBUTING.md
Due: none

Fixed imports in docs: creating_node_classes.rst
  ros_bt_py/doc/source/creating_node_classes.rst
Due: none

Fix action broken status after succeeding.
  ros_bt_py/src/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

Fix action state machine.
  ros_bt_py/src/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

Fix variable names in action node.
  ros_bt_py/src/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

Fix cancellation of goal.
  ros_bt_py/src/ros_bt_py/ros_nodes/action.py
Due: ament_flake8, ament_pep257

Added tests for OptionRef class
  ros_bt_py/tests/test_node_config.py
Due: ament_flake8, ament_pep257

Changed order inside asserts
  ros_bt_py/tests/test_node_config.py
Due: ament_flake8, ament_pep257

Added Init tests for NodeConfig
  ros_bt_py/tests/test_node_config.py
Due: ament_flake8, ament_pep257

Added internal tests
  ros_bt_py/tests/test_node_config.py
Due: ament_flake8, ament_pep257

Path conditions:
  ament_xmllint: any of: \.(xml)$
  ament_flake8: any of: \.(py)$
  ament_pep257: any of: \.(py)$
  ament_lint_cmake: any of: CMakeLists\.txt$
