Repository fzi-forschungszentrum-informatik/ros2_ros_bt_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        exclude: ((trees/)|(html/))
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
        exclude: ((trees/)|(html/))
      - id: end-of-file-fixer
        exclude: ((trees/)|(html/)|(testdata/))
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ((trees/)|(html/)|(testdata/))
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: fix-byte-order-marker  # Forbid UTF-8 byte-order markers
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
    - id: ament_copyright
      name: ament_copyright
      description: Check if copyright notice is available in all files.
      stages: [commit]
      entry: ament_copyright
      language: system
    - id: ament_xmllint
      name: ament_xmllint
      description: Static code analysis of xml files.
      stages: [commit]
      entry: ament_xmllint
      language: system
      files: \.(xml)$
    - id: ament_flake8
      name: ament_flake8
      description: Static code analysis of Python files with flake8.
      stages: [commit]
      entry: ament_flake8
      language: system
      files: \.(py)$
      args: ["--config=./.flake8"]
    - id: ament_pep257
      name: ament_pep257
      description: Static code analysis of Python files with pep257.
      stages: [commit]
      entry: ament_pep257
      language: system
      files: \.(py)$
    - id: ament_lint_cmake
      name: ament_lint_cmake
      description: Check format of CMakeLists.txt files.
      stages: [commit]
      entry: ament_lint_cmake
      language: system
      files: CMakeLists\.txt$
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    - id: remove-tabs
      exclude: |
        (?x)(
          html/|
          Makefile
        )
    - id: forbid-tabs
      exclude: |
        (?x)(
          html/|
          Makefile
        )

Add base test framework
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py_web_gui/package.xml
  ros_bt_py_web_gui/tests/test_example_trees.py
Due: ament_xmllint, ament_flake8, ament_pep257

Add first test tree
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py_web_gui/CMakeLists.txt
  ros_bt_py_web_gui/tests/test_example_trees.py
  ros_bt_py_web_gui/tests/test_trees/pub_sub_test.yaml
Due: ament_flake8, ament_pep257, ament_lint_cmake

Add pytest integration tests
  ros_bt_py/package.xml
  ros_bt_py/setup.py
  ros_bt_py/tests/integration/conftest.py
  ros_bt_py/tests/integration/test_pub_sub.py
  ros_bt_py/trees/pub_sub_test.yaml
Due: ament_xmllint, ament_flake8, ament_pep257

Remove integration tests from web-gui package
  ros_bt_py_web_gui/CMakeLists.txt
  ros_bt_py_web_gui/package.xml
  ros_bt_py_web_gui/tests/test_example_trees.py
  ros_bt_py_web_gui/tests/test_trees/pub_sub_test.yaml
Due: ament_xmllint, ament_flake8, ament_pep257, ament_lint_cmake

Add rmw isolation to integration tests
  ros_bt_py/package.xml
  ros_bt_py/tests/integration/conftest.py
  ros_bt_py/tests/integration/test_pub_sub.py
Due: ament_xmllint, ament_flake8, ament_pep257

Wait for service before calling
  ros_bt_py/tests/integration/test_pub_sub.py
Due: ament_flake8, ament_pep257

Added first version of node
  ros_bt_py/ros_bt_py/ros_nodes/__init__.py
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Swapped NodeMsg for NodeState
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Raise ValueError to give user feedback
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Switched init behavior to not throw an exception
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Added init tests
  ros_bt_py/tests/ros_nodes/test_enum_switch.py
Due: ament_flake8, ament_pep257

Now reacts to Enum Type
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Catch ValueError to avoid crash
  ros_bt_py/ros_bt_py/tree_manager.py.orig
Due: none

Update to 0.5.x
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Update Web-GUI to 6.0.1
  ros_bt_py_web_gui/html/assets/fontawesome-D1TAZLZx.js
  ros_bt_py_web_gui/html/assets/index-CcWcRUrY.css
  ros_bt_py_web_gui/html/assets/index-Dvd5e-lp.js
  ros_bt_py_web_gui/html/assets/index-DyOfh7Da.css
  ros_bt_py_web_gui/html/assets/index-IL0nNfK6.js
  ros_bt_py_web_gui/html/assets/vue-extras-NKW5yYOm.js
  ros_bt_py_web_gui/html/index.html
Due: none

Update Web-GUI to 6.0.1
  ros_bt_py_web_gui/html/assets/fontawesome-D1TAZLZx.js
  ros_bt_py_web_gui/html/assets/index-CcWcRUrY.css
  ros_bt_py_web_gui/html/assets/index-D-R07iRj.css
  ros_bt_py_web_gui/html/assets/index-DiQOl0hY.js
  ros_bt_py_web_gui/html/assets/index-Dvd5e-lp.js
  ros_bt_py_web_gui/html/assets/jsyaml-DW8Bub87.js
  ros_bt_py_web_gui/html/assets/jsyaml-mbYHt68G.js
  ros_bt_py_web_gui/html/assets/vue-extras-NKW5yYOm.js
  ros_bt_py_web_gui/html/index.html
Due: none

Bump web UI ROS package version.
  ros_bt_py_web_gui/package.xml
Due: ament_xmllint

Update Web-GUI to 6.0.1 (#222)
  ros_bt_py_web_gui/html/assets/fontawesome-D1TAZLZx.js
  ros_bt_py_web_gui/html/assets/index-CcWcRUrY.css
  ros_bt_py_web_gui/html/assets/index-D-R07iRj.css
  ros_bt_py_web_gui/html/assets/index-DiQOl0hY.js
  ros_bt_py_web_gui/html/assets/index-Dvd5e-lp.js
  ros_bt_py_web_gui/html/assets/jsyaml-DW8Bub87.js
  ros_bt_py_web_gui/html/assets/jsyaml-mbYHt68G.js
  ros_bt_py_web_gui/html/assets/vue-extras-NKW5yYOm.js
  ros_bt_py_web_gui/html/index.html
  ros_bt_py_web_gui/package.xml
Due: ament_xmllint

Bump interfaces version.
  ros_bt_py_interfaces/package.xml
Due: ament_xmllint

Release 0.6.0.
  CHANGELOG.md
Due: none

Add bytes support to MessageFromConstDict
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/ros_nodes/messages_from_dict.py
Due: ament_flake8, ament_pep257

Add default value for bytes
  ros_bt_py/ros_bt_py/helpers.py
Due: ament_flake8, ament_pep257

Publish node logs along tree logs, also add node_id to logger name
  ros_bt_py/ros_bt_py/node.py
Due: ament_flake8, ament_pep257

Update returns
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Move functionality to setup
  ros_bt_py/ros_bt_py/ros_nodes/enum_switch.py
Due: ament_flake8, ament_pep257

Update tests
  ros_bt_py/tests/ros_nodes/test_enum_switch.py
Due: ament_flake8, ament_pep257

Update tree manager logging
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Attach node loggers to tree loggers
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Generic node init calls
  ros_bt_py/ros_bt_py/nodes/maths.py
  ros_bt_py/ros_bt_py/ros_nodes/enum.py
  ros_bt_py/ros_bt_py/ros_nodes/message_converters.py
  ros_bt_py/ros_bt_py/ros_nodes/messages_from_dict.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/ros_nodes/topic.py
Due: ament_flake8, ament_pep257

Start working on custom logging
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/logging_manager.py
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/msg/BTLogMessage.msg
Due: ament_flake8, ament_pep257, ament_lint_cmake

Finish custom logging
  ros_bt_py/ros_bt_py/logging_manager.py
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/tree_manager.py
  ros_bt_py/ros_bt_py/tree_node.py
  ros_bt_py_interfaces/msg/BTLogMessage.msg
Due: ament_flake8, ament_pep257

Update interface dependencies
  ros_bt_py/package.xml
  ros_bt_py_interfaces/CMakeLists.txt
  ros_bt_py_interfaces/package.xml
Due: ament_xmllint, ament_lint_cmake

set_options unwire and rewire data
  ros_bt_py/ros_bt_py/ros_nodes/subtree.py
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257

Update Web-GUI to 6.0.2
  ros_bt_py_web_gui/html/assets/index-BYIz24wg.css
  ros_bt_py_web_gui/html/assets/index-D-R07iRj.css
  ros_bt_py_web_gui/html/assets/index-DiQOl0hY.js
  ros_bt_py_web_gui/html/assets/index-DwYpfYRn.js
  ros_bt_py_web_gui/html/index.html
Due: none

Adds support for the `bytes` type (#223)
  ros_bt_py/ros_bt_py/helpers.py
  ros_bt_py/ros_bt_py/package_manager.py
  ros_bt_py/ros_bt_py/ros_nodes/messages_from_dict.py
Due: ament_flake8, ament_pep257

Update Web-GUI to 6.0.2 (#226)
  ros_bt_py_web_gui/html/assets/index-BYIz24wg.css
  ros_bt_py_web_gui/html/assets/index-D-R07iRj.css
  ros_bt_py_web_gui/html/assets/index-DiQOl0hY.js
  ros_bt_py_web_gui/html/assets/index-DwYpfYRn.js
  ros_bt_py_web_gui/html/index.html
Due: none

Bugfix, set internal flags, adjust log severity
  ros_bt_py/ros_bt_py/node.py
  ros_bt_py/ros_bt_py/nodes/getters.py
  ros_bt_py/ros_bt_py/nodes/io.py
  ros_bt_py/ros_bt_py/nodes/list.py
  ros_bt_py/ros_bt_py/ros_nodes/action.py
  ros_bt_py/ros_bt_py/ros_nodes/service.py
  ros_bt_py/ros_bt_py/ros_nodes/topic.py
  ros_bt_py/ros_bt_py/tree_manager.py
Due: ament_flake8, ament_pep257
